@import "common/variables";
@import "common/mixin";

.p-about {
    margin-top: rem(20px);

    @include mq("md", min) {

        margin-top: rem(46px);
    }

}

.form-bh {
    background: url(../images/bg-bh.jpg) top center;
    background-size: cover;
    text-align: center;
    min-height: 95rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    &-content {
        border: 2px solid #fff;
        border-radius: 1rem;
        padding: 2rem 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        max-width: 104rem;
        width: 100%;
        //background-image: linear-gradient(to right, #000, transparent);
        background: #000000b0;
        position: relative;

        h1 {

            margin-bottom: 2rem;
            text-transform: uppercase;
            color: #fff;
            font-size: 3.5rem;

            img {
                max-width: 70rem;
            }
        }

        .form-bh-input {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            margin-bottom: 3rem;
            width: 100%;


        }

        .fr-bh {
            border: none;
            padding: 1rem;
            background: #f1f1f1;
            height: 5rem;
            border-radius: 0.5rem;
            width: 100%;
            font-size: 1.6rem;
        }

        .btn-check {
            border: none;
            background: $primary;
            text-transform: uppercase;
            color: #fff;
            font-weight: 800;
            font-size: 2rem;
            padding: 0.3rem 2rem;
            border-radius: 0.5rem;

            &.zalo {
                position: absolute;
                border-radius: 0;
                height: 5rem;
                right: 0.5rem;
            }

            cursor: pointer;

            &:hover {
                background: $hover;
            }
        }

        label {
            color: #ffdd3e;
            font-style: italic;
            text-align: left;
            display: block;
            width: 100%;
            font-size: 1.8rem;
            margin-bottom: 1rem;
        }

        .form-bh-input-2 {
            background: #FFF;
            position: relative;
            width: 100%;
            padding: 0.5rem;
        }

    }
}

.warranty-wrap {
    max-width: 110rem;
    margin: 4rem auto;
    background: #eee;
    padding: 2rem;
    border-radius: 1rem;

    /* grid info */
    .title {
        text-align: center;
        font-size: 3.5rem;
        font-weight: 800;
        margin-bottom: 2rem;
    }

    /* slider */

    .car-slider {
        position: relative;
        background: #ddd;
        border-radius: 6px;
        overflow: hidden;

        .slick-arrow {
            opacity: 1;
            border: none;
            background: none;

            &.slick-prev {
                &:after {
                    width: 2.5rem;
                    height: 2.5rem;
                    border-left: 2px solid #111;
                    border-bottom: 2px solid #111;
                }

            }

            &.slick-next {
                &:after {
                    width: 2.5rem;
                    height: 2.5rem;
                    border-right: 2px solid #111;
                    border-bottom: 2px solid #111;
                }

            }
        }

        img {
            width: 100%;
            display: block;
        }
    }

    .info-grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 1rem;
        margin-top: 2rem;

        .info-head {
            background: #222;
            color: #fff;
            padding: 1.2rem;
            text-align: center;
            font-weight: 600;
            border-radius: 0.6rem;
            font-style: italic;
        }

        .info-box {
            background: #c3c3c3;
            padding: 1.8rem;
            text-align: center;
            border-radius: 0.6rem;
            font-size: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

}







.form-kq {
    background: url(../images/bh.jpg) top center;
    background-size: cover;
    text-align: center;
    min-height: 70rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;


    .support-box {
        width: 52rem;
        text-align: center;
        color: #fff;
        position: relative;
        margin: 14rem 5rem;

        /* góc đỏ */
        .corner {
            position: absolute;
            left: -3rem;
            top: -3rem;
            width: 6rem;
            height: 6rem;
            border-left: 2px solid #e21324;
            border-top: 2px solid #e21324;
            border-top-left-radius: 1rem;
        }

        h1 {
            color: #e21324;
            font-size: 4rem;
            margin-bottom: 1rem;
            line-height: 1;
            font-weight: 800;
            text-shadow:
                0px 2px 4px rgba(0, 0, 0, 0.6), -1px 1px 4px rgba(0, 0, 0, 0.1)
        }

        .hotline-text {
            font-size: 2rem;
            margin-bottom: 2rem;
            font-weight: 600;
            text-shadow:
                0px 2px 4px rgba(0, 0, 0, 0.6), -1px 1px 4px rgba(0, 0, 0, 0.1);

            strong {
                font-weight: 700;
            }


        }

        .btn-group {
            margin-bottom: 2rem;
            text-align: center;
            display: flex;
            justify-content: center;
            gap: 2rem;

        }

        /* text nghiêng */
        .note {
            font-size: 2rem;
            font-style: italic;
            margin-bottom: 2rem;
        }

        /* form */
        .support-form {

            margin: auto;

            input {
                width: 100%;
                padding: 12px;
                margin-bottom: 15px;
                border: none;
                border-radius: 4px;
                font-size: 16px;
            }

            button {
                background: #e21324;
                border: none;
                padding: 1rem 3rem;
                color: #fff;
                font-size: 1.8rem;
                border-radius: 0.5rem;
                cursor: pointer;
                font-weight: 600;

                &:hover {
                    background: $hover;
                }

            }
        }

    }
}