@import "common/variables";
@import "common/mixin";

.p-product {
    margin-top: rem(40px);

    &-wrap {
        display: flex;
        gap: rem(36px);

        .c-sidebar {
            width: rem(283px);
            flex-shrink: 0;

            &.show {
                display: block;
            }

            @include mq("md") {
                display: none;
                position: fixed;
                z-index: 4;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: #fff;
                border: 1px solid #d9d9d9;
                border-radius: rem(10px);
                height: 93%;
                width: 93%;
                padding: rem(15px);
                overflow-y: scroll;
                box-shadow: 0 0 rem(30px) 0 #00000024;
            }

            &-pop {
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid #d9d9d9;
                text-transform: uppercase;
                padding-bottom: rem(5px);
                margin-bottom: rem(10px);
                font-family: $font-Averta-bold;
                color: $primary;
                font-size: rem(16px);

                .filter-close {
                    display: inline-block;
                    width: rem(20px);
                    height: rem(20px);
                    background: url(../images/ic_close.svg) no-repeat center;
                    background-size: contain;
                }
            }

            &__block {
                margin-bottom: rem(24px);
            }

            &__ttl {
                color: $primary;
                font-family: $font-Averta-bold;
                font-size: rem(16px);
                margin-bottom: rem(10px);

                @include mq("md", min) {
                    margin-bottom: rem(15px);
                    font-size: rem(18px);
                }
            }

            &__grid {

                @include mq("md", min) {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: rem(11px);
                }

                &.--price {
                    display: flex;

                }
            }

            &__item {
                border: 1px solid #D9D9D9;
                border-radius: rem(5px);
                color: #666;
                font-size: rem(15px);
                display: inline-flex;
                align-items: center;
                justify-content: center;
                padding: rem(7px);

                @include mq("md") {
                    margin: rem(5px) rem(3px);
                }

                @include mq("md", min) {
                    padding: rem(10px) rem(5px);
                    display: flex;
                    width: 100%;
                }

                &:hover {
                    background: $primary;
                    color: #FFF;
                }

                &.no-hover:hover {
                    background: inherit;
                    color: inherit;
                }

                &.num-price {
                    @include mq("md") {
                        width: 90%;
                    }

                }
            }

            .btn-submit {
                background: $primary-2;
                font-size: rem(15px);
                color: $primary;
                font-family: $font-Averta-bold;
                padding: rem(10px) 0;
                border-radius: rem(5px);
                border: none;
                width: 100%;
                margin-top: rem(10px);
                cursor: pointer;
                transition: all 0.3s;


                @include mq("md") {
                    max-width: rem(200px);
                }

                &:hover {
                    background: $primary-4;
                    color: #FFF;
                }
            }

            &__lst {

                @include mq("md", min) {
                    display: flex;
                    flex-direction: column;
                    gap: rem(9px);
                }

                .c-checkbox {
                    @include mq("md") {
                        margin: rem(5px);
                        display: inline-flex;
                    }

                }
            }
        }

    }

    &-content {
        flex: 1;
    }

    &-detail {
        margin-top: rem(40px);

        &__top {

            display: flex;
            gap: rem(50px);
            padding: rem(23px) rem(43px) rem(38px);
            border-radius: rem(10px);
            box-shadow: 0 0 rem(20px) 0 rgba($color: #000000, $alpha: 0.08);
            margin-bottom: rem(50px);

            .w-50 {
                width: 50%;
            }

            .product-gallery {

                overflow: hidden;

                .slider-for img {

                    width: 100%;
                    height: auto;
                    cursor: pointer;
                    height: rem(300px);
                    object-fit: cover;

                    @include mq("md", min) {

                        height: rem(544px);
                    }
                }

                .slider-nav .slick-current img {
                    opacity: 1;

                }

                .slider-nav {
                    margin: rem(10px) rem(-8px) 0;

                    &__item {
                        width: rem(130px);
                        cursor: pointer;
                        opacity: 0.6;
                        height: rem(130px);
                        object-fit: cover;
                        margin: 0 rem(4px);

                        &.slick-current {
                            opacity: 1;
                        }
                    }
                }
            }

            .product-meta {
                &__multi {
                    display: flex;
                    margin: rem(12px) 0;
                    gap: rem(15px);
                    align-items: center;

                    &__views {
                        display: flex;
                        gap: rem(15px);

                        span {
                            display: flex;
                            line-height: 1;
                            padding-left: 1.5rem;
                            border-left: 1px solid #DADADA;
                        }
                    }
                }

                &__brand {
                    display: flex;
                    align-items: center;
                    gap: rem(10px);

                    label {
                        line-height: 1;

                        &:not(:last-child) {
                            padding-right: rem(10px);
                            border-right: 1px solid #dadada;
                        }

                        span {
                            color: $primary;
                            font-family: $font-Averta-bold;
                            display: inline-block;
                            margin-left: rem(3px);
                        }
                    }
                }

                &__sale {
                    margin: rem(25px) 0 rem(20px);
                    padding: rem(7px);
                    border-radius: rem(5px);
                    background: $primary-2;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    &__ttl {
                        color: $primary;
                        text-transform: uppercase;
                        font-size: rem(20px);
                        font-family: $font-Averta-bold;
                        background: url(../images/ic_time_sale.svg) no-repeat left center;
                        background-size: rem(25px) rem(21px);
                        padding-left: rem(35px);
                    }

                    &__time {
                        text-transform: uppercase;
                        display: flex;
                        align-items: center;
                        gap: rem(10px);
                        color: $primary;
                        font-family: $font-Averta-bold;

                        .box-time {
                            display: flex;
                            gap: rem(20px);

                            &-num {
                                background: #FFF;
                                font-size: rem(18px);
                                font-family: $font-Averta-semibold;
                                color: #000;
                                width: rem(32px);
                                height: rem(29px);
                                border-radius: rem(5px);
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                position: relative;

                                &:not(:last-child) {
                                    &:after {
                                        position: absolute;
                                        right: rem(-12px);
                                        top: rem(-2px);
                                        content: ":";
                                        color: #000;
                                        font-size: rem(22px);
                                    }
                                }
                            }
                        }
                    }
                }

                &__price {
                    display: flex;
                    flex-direction: column;
                    gap: rem(10px);
                    margin-bottom: rem(20px);

                    .price-now {
                        font-size: rem(40px);
                        font-family: $font-Averta-bold;
                        color: $primary-4;
                        line-height: 1;
                    }

                    .price-old {
                        text-decoration: line-through;
                    }

                    .save-percent {
                        color: #FF6A00;
                    }
                }

                &__parts {
                    display: flex;
                    align-items: center;
                    gap: rem(10px);


                    label {
                        margin-right: rem(20px);
                    }

                    .variale-item {
                        display: inline-flex;
                        padding: rem(10px) rem(30px);
                        border-radius: rem(25px);
                        border: 1px solid #DDDDDD;
                        cursor: pointer;

                        &.active,
                        &:hover {

                            color: $primary;
                            border: 1px solid $primary;
                        }
                    }
                }

                &__qty {
                    margin: rem(10px) 0;
                    display: flex;
                    align-items: center;
                    gap: rem(5px);

                    @include mq("md", min) {
                        gap: rem(15px);
                        margin: rem(20px) 0 rem(35px);
                    }

                    // #add-to-cart {
                    //     color: $primary;
                    //     border: 1px solid $primary;
                    //     background: #FAF6EF;
                    //     height: rem(37px);
                    //     display: flex;
                    //     align-items: center;
                    //     gap: rem(10px);
                    //     justify-content: center;
                    //     font-size: rem(13px);
                    //     font-weight: $font-weight-semibold;
                    //     flex: 1;
                    //     cursor: pointer;
                    //     transition: all 0.3s;

                    //     @include mq("md", min) {
                    //         font-size: rem(18px);
                    //         height: rem(50px);
                    //         gap: rem(15px);
                    //     }

                    //     .ic-cart {
                    //         display: inline-block;
                    //         width: rem(17px);
                    //         height: rem(17px);
                    //         background: url(../images/ic_cart_2.svg) no-repeat top center;
                    //         background-size: contain;
                    //         transition: all 0.3s;

                    //         @include mq("md", min) {
                    //             width: rem(24px);
                    //             height: rem(24px);
                    //         }
                    //     }

                    //     &:hover {
                    //         background: $primary;
                    //         color: #FFF;

                    //         .ic-cart {
                    //             filter: brightness(0) invert(1);
                    //         }
                    //     }
                    // }
                }

                &__gift {
                    background: #FFF7D3;
                    border-radius: rem(20px);
                    position: relative;
                    display: flex;
                    align-items: center;
                    gap: rem(18px);
                    padding: rem(28px) rem(40px);

                    &:before {
                        position: absolute;
                        content: "";
                        left: rem(15px);
                        top: rem(12px);
                        width: calc(100% - rem(30px));
                        height: calc(100% - rem(24px));
                        border: 1.5px dashed #EDDC94;
                        border-radius: rem(20px);
                    }

                    &__img {
                        width: rem(89px);
                        flex-shrink: 0;
                    }

                    &__meta {
                        flex: 1;
                        font-size: rem(16px);

                        &__label {
                            text-transform: uppercase;
                            font-family: $font-Averta-bold;
                            color: $primary;
                        }

                        &__price {
                            margin-top: rem(5px);

                            span {
                                font-size: rem(18px);
                                color: $primary-4;
                                font-family: $font-Averta-bold;
                            }
                        }
                    }
                }

                &__short {
                    ul {
                        padding: 0;
                        padding: 0;
                        list-style: none;

                        li {
                            background: url(../images/ic_check.svg);
                            background-repeat: no-repeat;
                            background-position: left rem(8px);
                            background-size: rem(12px) rem(12px);
                            padding: rem(5px) 0 rem(5px) rem(20px);

                            @include mq("md", min) {
                                background-position: left rem(9px);
                                background-size: rem(15px) rem(15px);
                                padding: rem(5px) 0 rem(5px) rem(25px);
                            }
                        }
                    }
                }


            }
        }

        &__body {
            margin-top: rem(30px);
            display: flex;
            gap: 50px;

            &__left {
                flex: 1;
            }

            &__right {
                width: rem(308px);

                .product-specifications {
                    margin-bottom: rem(32px);

                    table {
                        margin-top: rem(16px);
                        width: 100%;
                        border: #D9D9D9 1px solid;
                        background: #FBFBFB;
                        border-collapse: separate;
                        border-radius: rem(15px);
                        border-spacing: 0;
                        overflow: hidden;

                        tr {
                            &:nth-child(odd) {
                                background: #F4F4F4;


                            }

                            td {
                                padding: rem(20px);

                                line-height: 1.3;
                                font-size: rem(15px);



                                &:first-child {
                                    width: 41%;

                                }
                            }
                        }
                    }

                    &__btn {
                        margin-top: rem(11px);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: rem(38px);
                        width: 100%;
                        background: #FFF;
                        border-radius: rem(5px);
                        border: 1px solid #D9D9D9;
                        box-shadow: 0 0 rem(8.9px) 0 rgba($color: #000000, $alpha: 0.15);
                        transition: all 0.3s;
                        cursor: pointer;

                        &:hover {
                            background: $primary;
                            color: #FFF;

                            span:after {
                                filter: brightness(0) invert(1);
                            }
                        }

                        span {
                            display: flex;
                            align-items: center;
                            gap: rem(5px);

                            &:after {
                                content: "";
                                width: rem(8px);
                                height: rem(8px);
                                background: url(../images/ic_down_2.svg) no-repeat top center;
                                background-size: contain;
                            }
                        }
                    }
                }
            }
        }

        &__ttl {

            border-bottom: 1px solid #F4F4F4;
            margin-bottom: rem(20px);

            span {
                display: inline-block;
                font-size: rem(25px);
                font-family: $font-Averta-bold;
                color: $primary;
                position: relative;
                padding-bottom: rem(8px);

                &:after {
                    position: absolute;
                    content: "";
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 2px;
                    background: $primary-2;
                }
            }
        }

        .product-reviews {
            @include mq("md", min) {
                margin-bottom: rem(45px);
            }

            &__ttl {
                color: $primary;
                font-size: rem(30px);
                font-family: $font-Averta-bold;
                position: relative;
                padding-bottom: rem(5px);
                margin-bottom: rem(25px);

                &:after {
                    position: absolute;
                    content: "";
                    left: 0;
                    bottom: 0;
                    width: rem(40px);
                    height: rem(2px);
                    background: $primary-2;
                }
            }

            &__top {

                display: flex;
                gap: rem(20px);

                @include mq("md", min) {

                    gap: rem(40px);
                }

                &__item {
                    display: flex;
                    gap: rem(5px);
                    align-items: center;

                    .num {
                        color: $primary;
                        font-size: rem(20px);
                        font-family: $font-Averta-bold;
                    }
                }

                // .product-point {
                //     display: flex;
                //     flex-direction: column;
                //     width: rem(90px);
                //     flex-shrink: 0;
                //     align-items: center;

                //     @include mq("md", min) {
                //         width: rem(110px);
                //     }

                //     .point {
                //         color: $primary;
                //         font-size: rem(25px);
                //         font-weight: $font-weight-semibold;

                //         @include mq("md", min) {
                //             font-size: rem(50px);
                //         }
                //     }
                // }

                // .product-slider {
                //     flex: 1;
                //     overflow: hidden;
                //     width: rem(200px);

                //     .pr-review {
                //         display: block;
                //         padding: rem(5px);
                //         height: rem(50px);
                //         width: rem(70px);

                //         @include mq("md", min) {
                //             padding: rem(10px);
                //             height: rem(100px);
                //         }
                //     }

                //     .review-pr-js-btn {
                //         text-align: right;
                //         margin-bottom: rem(10px);

                //         .slick-arrow {
                //             padding: 0;
                //             margin: 0;
                //             color: transparent;
                //             border: none;
                //             background: none;
                //             width: rem(20px);
                //             height: rem(20px);
                //             background-repeat: no-repeat;
                //             background-position: top center;
                //             background-image: url(../images/ic_right_3.svg);
                //             background-size: contain;

                //             &.slick-prev-custom {


                //                 transform: rotate(180deg);

                //                 @include mq("md", min) {
                //                     background-size: rem(10px) rem(25px);
                //                 }

                //                 &:hover {
                //                     transform: rotate(0deg);

                //                     @include mq("md", min) {
                //                         background-size: rem(10px) rem(15px);
                //                     }

                //                     background-image: url(../images/ic_right_3_hover.svg);
                //                 }
                //             }

                //             &.slick-next-custom {
                //                 margin-left: rem(5px);

                //                 &:hover {
                //                     transform: rotate(180deg);

                //                     @include mq("md", min) {
                //                         background-size: rem(10px) rem(25px);
                //                     }

                //                     background-image: url(../images/ic_right_3_hover.svg);
                //                 }

                //             }
                //         }

                //     }
                // }
            }

            &__lst {
                display: flex;
                flex-direction: column;
                gap: rem(10px);
                margin: rem(30px) 0 rem(22px);

                &__item {
                    display: flex;
                    gap: rem(16px);

                    &__img {
                        width: rem(50px);
                        height: rem(50px);
                    }

                    &__meta {
                        padding: rem(16px) rem(30px);
                        border-radius: rem(10px);
                        box-shadow: 0 0 rem(25px) 0 rgba($color: #000000, $alpha: 0.05);

                        &__top {
                            display: flex;
                            align-items: center;
                            gap: rem(15px);
                            margin-bottom: rem(10px);
                        }

                        &__ttl {
                            color: #000;
                            font-size: rem(20px);
                            font-family: $font-Averta-bold;
                        }

                        .sticked {
                            color: $primary;
                            font-size: rem(15px);
                            background: url(../images/ic_check_2.svg) no-repeat left center;
                            background-size: rem(15px);
                            padding-left: rem(22px);
                        }

                        &__txt {
                            margin-top: rem(10px);
                            font-size: rem(16px);
                            line-height: calc(22/16);

                            img {
                                margin: rem(10px) 0;
                            }
                        }

                        &__bot {
                            margin-top: rem(13px);
                            display: flex;
                            align-items: center;
                            gap: rem(30px);
                        }
                    }
                }
            }

            &__more {
                font-size: rem(20px);
                font-family: $font-Averta-bold;
                color: $primary;
                text-decoration: underline;
                display: inline-flex;
                gap: rem(20px);
                align-items: center;
                margin-left: rem(65px);

                &:hover {
                    opacity: 0.7;
                }

                &:after {
                    content: "";
                    width: rem(18px);
                    height: rem(15px);
                    background: url(../images/ic_right_2.svg) no-repeat right rem(6px);
                    background-size: contain;
                }
            }

            &__comment {
                margin-top: rem(48px);

                &__top {
                    display: flex;
                    align-items: center;
                    gap: rem(15px);
                    margin-bottom: rem(22px);
                    font-size: rem(18px);
                }

                &__form {
                    display: flex;
                    flex-direction: column;
                    gap: rem(15px);
                }
            }

            // &-filter {
            //     display: flex;
            //     align-items: center;
            //     justify-content: flex-end;
            //     border-bottom: 1px solid #E8E8E8;
            //     padding-bottom: rem(6px);
            //     margin-top: rem(16px);
            //     gap: rem(10px);

            //     @include mq("md", min) {
            //         margin-top: rem(6px);
            //     }

            //     span {

            //         font-weight: $font-weight-semibold;

            //         @include mq("md", min) {
            //             font-size: rem(14px);
            //         }
            //     }

            //     select {
            //         border: none;
            //         outline: none !important;
            //     }
            // }
        }
    }



    &.detail {

        // @include mq("md") {
        //     display: flex;
        //     gap: rem(20px);
        //     flex-direction: column;
        //     flex-wrap: wrap;
        // }

        // @include mq("md", min) {
        //     display: grid;
        //     gap: rem(30px) rem(80px);
        //     grid-template-columns: 54% 40%;
        // }


        /* Trái trên */




        /* Phải trên */
        .product-content {

            margin-top: rem(10px);

            @include mq("md") {
                order: 4;
            }

            @include mq("md", min) {
                margin-top: rem(60px);
            }

            .product-info {
                border-radius: rem(5px);
                border: 1px solid #F2DBBB;
                position: relative;
                overflow: hidden;
                padding: rem(15px) rem(10px) rem(40px);
                max-height: rem(500px);
                transition: max-height 0.3s ease;

                @include mq("md", min) {
                    padding: rem(27px) rem(38px) rem(50px);
                    border-radius: rem(15px);
                }

                &:after {
                    position: absolute;
                    z-index: -1;
                    content: "";
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 70%;
                    background: linear-gradient(to bottom, #fff, #B6AB9C);
                }

                &.show {
                    padding-bottom: rem(70px);

                    &:after {
                        display: none;
                    }
                }

                .product-info-ttl {
                    text-align: center;
                    font-size: rem(25px);
                    font-weight: $font-weight-semibold;
                    margin-bottom: rem(25px);
                }
            }
        }


        .c-comment {
            margin-bottom: rem(25px);

            .item-comment {
                padding-bottom: rem(16px);
                border-bottom: 1px solid #E8E8E8;
                padding-top: rem(16px);

                &-ttl {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-weight: 600;

                    @include mq("md", min) {
                        font-size: rem(15px);
                    }

                    .date {
                        font-size: rem(12px);
                        font-weight: normal;
                    }
                }

                &-txt {

                    @include mq("md", min) {
                        font-size: rem(15px);
                    }
                }
            }

        }
    }

    &-related {
        padding: rem(40px) 0;

        @include mq("md", min) {
            padding: rem(80px) 0;
        }
    }

    &-filter {
        display: flex;
        gap: rem(7px);
        align-items: center;
        border-bottom: 1px solid #E8E8E8;
        padding-bottom: rem(18px);
        margin-bottom: rem(25px);
        flex-wrap: wrap;

        @include mq("md", min) {
            gap: rem(14px);
        }

        &__ttl {
            font-size: rem(18px);

            @include mq("md") {
                display: none;
            }
        }

        &__item {
            font-size: rem(14px);
            border: 1px solid #d9d9d9;
            border-radius: rem(5px);
            padding: rem(7px) rem(10px);
            cursor: pointer;
            transition: all 0.3s;

            @include mq("md", min) {
                font-size: rem(15px);
                padding: rem(9px) rem(12px);
            }

            &:hover,
            &.active {
                background: $primary;
                color: #fff;
                border: 1px solid $primary;
            }
        }
    }

    &-intro {
        margin-top: rem(30px);
        background: #FFFBF2;
        padding: rem(30px) 0;

        @include mq("md", min) {
            margin-top: rem(90px);
            padding: rem(70px) 0;
        }

        &-content {

            margin: rem(20px) auto;

            @include mq("md", min) {
                max-width: rem(1088px);
                margin: rem(30px) auto rem(50px);
            }
        }
    }
}

.filter-sticky {
    position: fixed;
    bottom: rem(10px);
    background: $primary-4;
    left: 0;
    right: 0;
    margin: auto;
    max-width: rem(110px);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    border-radius: rem(5px);
    font-size: rem(15px);
    padding: rem(5px);
    z-index: 3;
    gap: rem(5px);

    @include mq("md", min) {
        display: none;
    }

    &:before {
        content: "";
        filter: brightness(0) invert(1);
        width: rem(24px);
        height: rem(24px);
        background: url(../images/filter-com.svg) no-repeat center;
        background-size: contain;
    }
}