@import "common/variables";
@import "common/mixin";

.p-reviews {
    margin-top: rem(20px);
    padding-bottom: rem(50px);

    @include mq("md", min) {
        padding-bottom: rem(60px);
        margin-top: rem(55px);
    }

    &.p-detail {
        @include mq("md", min) {
            padding-bottom: rem(100px);
        }
    }

    &-detail {
        text-align: center;

        .img-dt {
            margin: rem(20px) 0 0;

            @include mq("md", min) {
                margin: rem(40px) 0 0;
            }
        }
    }

    &-wrap {
        max-width: rem(1088px);
        margin: auto;
    }

    &-grid {
        margin-top: rem(15px);
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: rem(15px);

        @include mq("md", min) {
            margin-top: rem(30px);
            grid-template-columns: repeat(3, 1fr);
            gap: rem(60px) rem(30px);
        }
    }

    .reviews-products {
        margin: rem(20px) 0;

        @include mq("md", min) {
            margin: rem(50px) 0 rem(60px);
        }

        &-box {
            margin-bottom: rem(25px);

            @include mq("md", min) {
                margin-bottom: rem(100px);
            }
        }

        &__ttl {
            text-align: center;
            font-weight: $font-weight-semibold;
            font-size: rem(16px);
            margin-bottom: rem(10px);

            @include mq("md", min) {
                font-size: rem(25px);
                margin-bottom: rem(17px);
            }
        }

        &-grid {
            padding: rem(15px);
            margin: rem(20px) 0 0;
            border: 1px solid #d9d9da;
            border-radius: rem(5px);
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: rem(25px) rem(45px);

            @include mq("md", min) {
                grid-template-columns: repeat(2, 1fr);
                border-radius: rem(15px);
                padding: rem(45px) rem(30px);
                margin: rem(40px) 0 0;
                gap: rem(25px) rem(45px);
            }
        }

        &-f2 {
            margin: rem(20px) 0;
            display: flex;
            flex-direction: column;
            padding: rem(20px);
            border: 1px solid #d9d9da;
            border-radius: rem(5px);
            gap: rem(30px);

            @include mq("md", min) {
                flex-direction: row;
                margin: rem(40px) 0;
                border-radius: rem(15px);
                gap: rem(100px);
                padding: rem(60px) rem(20px) rem(60px) rem(100px);
            }

            &__meta {
                text-align: left;
            }

            &__img {
                height: rem(220px);
                @include mq("md", min) {
                    width: rem(370px);
                    height: rem(370px);
                }
            }

            &__ttl {
                font-size: rem(15px);
                line-height: 1.3;
                font-weight: 600;
                margin-bottom: rem(10px);
                display: block;
                @include mq("md", min) {
                    font-size: rem(25px);
                }
                &:hover {
                    color: $primary;
                }
            }
        }

        &-f3 {
            text-align: center;
            max-width: rem(383px);
            margin: rem(30px) auto 0;

            &__img {
                border: 1px solid #e2dcd1;
                height: rem(250px);
                padding: rem(15px);

                @include mq("md", min) {
                    height: rem(400px);
                    padding: rem(50px);
                }
            }

            &__ttl {
                display: block;
                font-size: rem(15px);
                line-height: 1.3;
                font-weight: $font-weight-semibold;
                margin: rem(15px) 0;

                @include mq("md", min) {
                    font-size: rem(20px);
                    margin: rem(15px) 0 rem(20px);
                }

                &:hover {
                    color: $primary;
                }
            }
        }

        .review-f-item {
            align-items: center;
            display: flex;

            &__img {
                width: rem(70px);
                height: rem(70px);
                display: block;
                flex-shrink: 0;

                @include mq("md", min) {
                    width: rem(104px);
                    height: rem(104px);
                }
            }

            &__meta {
                text-align: left;
                margin: 0 0 0 rem(15px);

                @include mq("md", min) {
                    margin: 0 rem(20px) 0 rem(30px);
                }
            }

            &__ttl {
                font-weight: $font-weight-semibold;
                line-height: calc(20 / 16);
                margin-bottom: rem(5px);
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;

                @include mq("md", min) {
                    margin-bottom: rem(20px);
                }

                &:hover {
                    color: $primary;
                }
            }

            .c-detail {
                color: $primary;
                text-transform: uppercase;
                width: rem(120px);
                height: rem(50px);
                border-radius: rem(50px);
                border: 1px solid $primary;
                font-weight: $font-weight-semibold;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;

                @include mq("md") {
                    display: none;
                }

                &:hover {
                    background: $primary;
                    color: #fff;
                }
            }
        }
    }

    &-products {
        margin-bottom: rem(40px);
        @include mq("md", min) {
            margin-bottom: rem(90px);
        }
    }
}


