@use "../common/mixin";
@use "../common/variables";

.btn {
    border: none;
    background: variables.$primary-2;
    color: variables.$white;
    padding: 0 mixin.rem(20px);
    height: mixin.rem(45px);
    border-radius: mixin.rem(90px);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
    font-size: mixin.rem(14px);

    @include mixin.mq("md", min) {
        font-size: mixin.rem(16px);
        padding: 0 mixin.rem(35px);
        height: mixin.rem(56px);
    }

    @include mixin.hover() {
        background: variables.$primary;
    }

    &:focus,
    &.focus {
        outline: 0;
    }

    // Disabled comes first so active can properly restyle
    &.disabled,
    &:disabled {
        opacity: variables.$btn-disabled-opacity;
    }

    &:not(:disabled):not(.disabled) {
        cursor: pointer;
    }
}

.c-btn {
    border: none;
    background: variables.$primary;
    border-radius: mixin.rem(55px);
    width: mixin.rem(130px);
    height: mixin.rem(40px);
    color: #fff;
    font-weight: variables.$font-weight-semibold;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: mixin.rem(10px);
    cursor: pointer;

    @include mixin.mq("md", min) {
        width: mixin.rem(167px);
        height: mixin.rem(55px);
    }

    &:hover {
        background: variables.$primary-3;
    }

    .c-reduce {
        display: none;
    }

    &.btn-load-more {
        @include mixin.mq("md", min) {
            width: mixin.rem(159px);
            height: mixin.rem(35px);
        }
    }

    &.--comment {
        margin: auto;

        &.--related {
            margin-top: mixin.rem(40px);
        }
    }
}