@use "../common/mixin" as *;
@use "../common/variables" as *;

.footer {
    background: url(../images/bg-footer.jpg) no-repeat top center;
    background-size: cover;
    padding: 2rem 0 0;
    margin-top: rem(20px);

    @include mq("md", min) {
        padding: 4rem 0 0;
        margin-top: rem(50px);

    }

    &-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;

        @include mq("md", min) {
            gap: 4rem;
            grid-template-columns: 2.5fr 1fr 1.3fr;
        }
    }

    h2 {
        font-size: 1.8rem;
        line-height: 1.5;
        font-weight: 600;

        @include mq("md", min) {
            font-size: 1.9rem;
        }
    }

    .bct {
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    &-col {
        @include mq("md") {
            margin-top: rem(20px);
        }

        &.--flex {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        ul {
            padding: 0;
            margin: 0;
            margin-bottom: 2rem;
            margin-top: 0.5rem;

            &.address {
                li {
                    position: relative;
                    display: flex;
                    gap: 0.7rem;
                    padding: 0.3rem 0;

                    &:nth-child(1),
                    &:nth-child(2) {
                        &:before {
                            content: "";
                            background: url(../images/ic-address.png) no-repeat 0 0.3rem;
                            background-size: contain;
                            width: 1.8rem;
                            flex-shrink: 0;
                        }
                    }

                    &:nth-child(3) {
                        &:before {
                            content: "";
                            background: url(../images/ic-call.png) no-repeat 0 0.3rem;
                            background-size: contain;
                            width: 1.8rem;
                            flex-shrink: 0;
                        }


                    }
                }
            }

            &.f-lst {
                li {
                    position: relative;
                    display: flex;
                    gap: 0.7rem;
                    padding: 0.3rem 0;

                    &:before {
                        content: "";
                        background: url(../images/ic-next.png) no-repeat 0 0.3rem;
                        background-size: contain;
                        width: 1.8rem;
                        flex-shrink: 0;
                    }

                }
            }

            &.service {
                column-count: 2;
                column-gap: 30px;
                list-style: none;
                padding: 0;
                margin-bottom: 0;
            }

            &.social {
                display: flex;
                gap: rem(5px);

                li {
                    a {

                        width: rem(39px);
                        height: rem(39px);
                        padding: rem(7px);
                        background: #FFF;
                        border-radius: 50%;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;

                        &:hover {
                            background: $primary-2;

                        }
                    }
                }
            }

            li {
                list-style: none;

                .footer-item {
                    color: $white;
                    font-size: rem(15px);
                    display: flex;
                    align-items: center;
                    gap: rem(9px);
                    padding: rem(3px) 0;

                    &:before {
                        content: "";
                        width: rem(5px);
                        height: rem(5px);
                        border-radius: rem(5px);
                        background: #fff;
                    }

                    @include mq("md", min) {

                        padding: rem(4px) 0;

                    }

                    &:hover {
                        color: $primary-2;

                        &:before {
                            background: $primary-2;
                        }
                    }

                }
            }
        }

        iframe {
            width: 100%;
            height: 27rem;
        }
    }

    .mrg-top {
        margin-top: 1.5rem;
    }

    .f-social {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        border: 1px solid #c0c0c0;
        border-radius: 0.5rem;
        padding: 0.7rem;
        margin-top: 1rem;

        .social-item {
            display: block;
            width: 4rem;
            height: 4rem;
        }
    }

    .copyright {
        font-size: rem(13px);
        color: #fff;
        text-align: center;
        margin-top: rem(18px);
        padding: rem(10px) 0;
        background: #000;
        position: relative;

        @include mq("md", min) {
            margin-top: rem(35px);
            font-size: rem(14px);
        }

        &:before {
            border-top: 2px solid #000;
            width: 100%;
            position: absolute;
            left: 0;
            top: -0.5rem;
            content: "";
        }

    }
}

#backToTop {
    position: fixed;
    bottom: 6rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 0.5rem;
    border: 1px solid $primary;
    color: $primary;
    font-size: 1.3rem;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    z-index: 999;

    @include mq("md", min) {
        width: 3rem;
        height: 3.2rem;
        bottom: 1rem;
    }

    &:hover {
        background: $primary;
        color: #FFF;
        transform: translateY(-3px);
    }
}

/* ===== Nút liên hệ ===== */
#contactBtn {
    position: fixed;
    bottom: 6rem;
    left: 1rem;
    z-index: 2;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;

    @include mq("md", min) {
        bottom: 1rem;
    }

    img {
        @include mq("md") {
            width: 15rem;
        }
    }
}

/* ===== Popup nền ===== */
.popup {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;

    transition: opacity 0.35s ease;
    z-index: 1000;

    &.show {
        opacity: 1;
        visibility: visible;

        .popup-box {
            transform: translateY(0);
            opacity: 1;
        }
    }

    /* ===== Khung popup ===== */
    &-box {
        background: #fff;
        width: 800px;
        max-width: 95%;
        border-radius: 12px;
        padding: 25px;
        display: flex;
        gap: 25px;
        position: relative;
        transform: translateY(-40px);
        opacity: 0;

        transition: all 0.35s ease;

        @include mq("md") {
            flex-direction: column;
            padding: 1.5rem;
        }

        /* Nút đóng */
        .close {
            position: absolute;
            top: 1rem;
            right: 1rem;
            font-size: 3rem;
            cursor: pointer;
            color: #333;
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            border: 1px solid #333;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.3s;
            z-index: 12;

            &:hover {
                background: $primary;
                border: 1px solid $primary;
                color: #FFF;
            }
        }
    }

    &-left {
        position: relative;

        &:before {
            width: 5rem;
            height: 5rem;
            border: 1px solid red;
            position: absolute;
            content: "";
            left: -1rem;
            top: -1rem;
            border-right: none;
            border-bottom: none;
            border-top: 1px solid #B02523;
            border-left: 1px solid #B02523;
            border-top-left-radius: 10px;
        }

        h2 {
            color: $primary;
            margin-bottom: 1rem;
        }

        p {
            color: #555;
            margin-bottom: 2rem;
        }
    }

    &-contact {
        display: flex;
        gap: 1rem;
        margin-bottom: 2rem;
        align-items: center;
        justify-content: center;

        .c-contact {
            display: flex;
            gap: 1rem;
            align-items: center;
            border: none;
            padding: 1rem 2rem;
            border-radius: 1rem;
            background: $primary;
            color: #fff;
            font-weight: bold;
            cursor: pointer;
            transition: all 0.3s;

            &:hover {
                background: $hover;
            }

            img {
                width: 3rem;
            }
        }


    }

    &-form {
        input {
            width: 100%;
            padding: 12px;
            margin-bottom: 12px;
            border-radius: 6px;
            border: 1px solid #ddd;
        }

        .submit {
            background: #d60000;
            color: #fff;
            border: none;
            padding: 1rem 2rem;
            border-radius: 0.5rem;
            font-weight: bold;
            cursor: pointer;
            transition: all 0.3s;

            &:hover {
                background: $hover;
            }
        }
    }

    &-right {
        img {
            width: 260px;
            border-radius: 8px;
        }
    }

}

.fix-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #FFF;
    z-index: 11;
    padding: 0.4rem 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    box-shadow: rgb(60 64 67 / .1) 0 1px 2px 0, rgb(60 64 67 / .15) 0 2px 6px 2px;
    height: 5rem;

    .f-link {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 0.2rem;
        font-weight: 600;
        font-size: 1.2rem;

        .ic-link {
            display: inline-block;
            background-repeat: no-repeat;
            background-position: top center;
            background-size: contain;
            width: 2rem;
            height: 2rem;

            &.home {
                background-image: url(../images/ic-home.png);
            }

            &.sale {
                background-image: url(../images/ic-sale.png);
            }

            &.cate {
                background-image: url(../images/ic-list.png);
            }

            &.new {
                background-image: url(../images/ic-new.png);
            }
        }
    }
}

/* PANEL */
.category-panel {
    position: fixed;
    bottom: 5rem;
    left: 0;
    right: 0;
    top: 6rem;
    background: #fff;
    display: none;
    z-index: 12;
    padding-top: 2rem;

    /* HIỆN PANEL */
    &.show {
        display: flex;
    }

    /* CỘT TRÁI */
    .cat-parent {
        width: 30%;
        background: #f3f3f3;
        overflow-y: auto;

        .parent-item {
            padding: 1.5rem 1rem;
            border-bottom: 1px solid #ddd;
            cursor: pointer;
            text-transform: uppercase;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-size: 1.2rem;
            gap: 0.6rem;
            line-height: 1.4;
            box-shadow: rgba(60, 64, 67, 0.1) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

            &:nth-child(1) {
                background: #FEE2E2;
            }

            &:nth-child(2) {
                background: #FFEDD5;
            }

            &:nth-child(3) {
                background: #FEF9C3;
            }

            &:nth-child(4) {
                background: #ECFCCB;
            }

            &:nth-child(5) {
                background: #D1FAE5;
            }

            &:nth-child(6) {
                background: #CCFBF1;
            }

            &:nth-child(7) {
                background: #E0F2FE;
            }

            &:nth-child(8) {
                background: #E0E7FF;
            }

            &:nth-child(9) {
                background: #EDE9FE;
            }

            &:nth-child(10) {
                background: #CCFBF1;
            }

            &:nth-child(11) {
                background: #FAE8FF;
            }

            &:nth-child(12) {
                background: #FCE7F3;
            }

            &.active {
                font-weight: bold;
            }
        }
    }

    /* CỘT PHẢI */
    .cat-child {
        flex: 1;
        padding: 10px;
        overflow-y: auto;

        .child-group {
            display: none;

            &.active {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 0.7rem;
            }

            .child-item {
                padding: 1rem 0.5rem;
                border: 1px solid #E5E7EB;
                border-radius: 1rem;
                text-align: center;
                font-size: 1.1rem;
                font-weight: 600;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }
}