@include mq("md", min) {
    .sp {
        display: none !important;
    }
}

@include mq("md") {
    .pc {
        display: none !important;
    }
}

.hover {
    transition: all 0.3s;

    &:hover {
        color: $primary !important;
    }

}

#sidebar {
    position: sticky;
    top: 12%;
    height: 65vh;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
    z-index: 10;
}

.slick-track {
    display: flex !important;
}

.slick-arrow {
    width: 3.3rem;
    height: 3.3rem;
    border: 2px solid #ddd;
    background: #FFF;
    border-radius: 50%;
    display: flex !important;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition: 0.3s;
    opacity: 0;

    /* Ẩn icon mặc định */
    &:before {
        display: none;
    }

    &.slick-prev {
        left: 1rem;

        &::after {
            content: "";
            width: 0.5rem;
            height: 0.5rem;
            border-left: 2px solid #666;
            border-bottom: 2px solid #666;
            transform: rotate(45deg);
        }
    }

    &.slick-next {
        right: 1rem;

        &::after {
            content: "";
            width: 0.5rem;
            height: 0.5rem;
            border-right: 2px solid #666;
            border-bottom: 2px solid #666;
            transform: rotate(-45deg);
        }
    }
}

.breadcrumb {
    padding: 1rem 0;
    background: #fff;
    box-shadow: 0 2px 4px #ccc;

    ol {
        display: flex;
        padding: 0;
        margin: 0;
        gap: rem(10px);

        @include mq("md") {
            overflow-x: scroll;

            &::-webkit-scrollbar {
                height: 0;
            }

            /* Nền track */
            &::-webkit-scrollbar-track {
                background: transparent;
                border-radius: 0;
            }
        }

        li {
            list-style: none;
            position: relative;
            flex-shrink: 0;
            font-size: rem(15px);
            display: flex;
            align-items: center;
            gap: rem(10px);
            color: #111;

            span {
                font-size: 1.5rem;
            }

            &:not(:last-child) {
                color: $primary;

                &:after {
                    content: "»";
                    width: rem(5px);
                    color: #111;

                }
            }
        }
    }
}

html {
    scroll-behavior: smooth;
}

.load-more {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: rem(25px);

    @include mq("md", min) {
        margin-top: rem(30px);
    }


    &__btn {
        background: $primary;
        color: #FFF;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s;
        cursor: pointer;
        padding: 1rem 2rem;

        &:hover {
            background: $hover;

        }

    }
}


.mrg-20 {
    margin-bottom: rem(10px);

    @include mq("md", min) {
        margin-bottom: rem(20px);
    }
}

.mrg-40 {
    margin-top: rem(20px);

    @include mq("md", min) {
        margin-top: rem(40px);
    }
}

.c-short {
    line-height: calc(26/16);
    margin: rem(20px) auto;
    font-style: italic;

    @include mq("md", min) {
        margin: rem(25px) auto rem(40px);
    }

}

.description {
    line-height: calc(26 / 16);

    h2,
    h3 {
        margin-top: rem(15px);
        font-size: rem(14px);
        line-height: 1.3;

        @include mq("md") {
            margin-bottom: rem(14px);
        }

        @include mq("md", min) {
            margin-top: rem(25px);
            font-size: rem(18px);
        }
    }
}

.img_cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img_scale {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

a {
    transition: all 0.3s;
}

.subtitle {
    text-align: center;
    margin: auto;
    font-size: rem(14px);
    margin-top: rem(13px);
    color: #555;

    @include mq("md", min) {
        max-width: rem(880px);
        font-size: rem(16px);
    }
}

.mrg-0 {
    margin-bottom: 0 !important;
}

.pad-40 {
    padding: 4rem 0;
}

.padtop {
    padding-top: rem(30px);

    @include mq("md", min) {
        padding-top: rem(57px);
    }
}

// .c-pagination {
//     display: flex;
//     justify-content: space-between;
//     margin: rem(25px) 0;

//     &-total {
//         font-size: rem(17px);

//         @include mq("md") {
//             display: none;
//         }
//     }
// }

// .pagination {
//     display: flex;
//     align-items: flex-end;
//     padding: 0;
//     margin: 0;
//     list-style: none;
//     gap: rem(5px);

//     li {
//         span {
//             display: inline-flex;
//             align-items: center;
//             justify-content: center;
//             width: rem(35px);
//             height: rem(35px);
//             border-radius: 50%;
//             border: 1px solid #EAEAEA;
//             background: #f8f8f8;
//             font-size: rem(14px);
//             cursor: pointer;
//             transition: all 0.3s;

//             @include mq("md", min) {
//                 font-size: rem(17px);
//                 width: rem(40px);
//                 height: rem(40px);
//             }

//             &:hover {
//                 background: $primary;
//                 color: $white;

//                 img {
//                     filter: brightness(0) invert(1);
//                 }
//             }

//             &.last {
//                 width: auto;
//                 border-radius: rem(20px);
//                 padding: 0 rem(20px);
//             }
//         }

//         &.active {
//             span {
//                 background: $primary;
//                 border: 1px solid $primary;
//                 color: #FFF;
//             }
//         }
//     }
// }

#contactform {
    margin-top: rem(20px);

    .form-flex {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: rem(10px) 0;

        @include mq("md", min) {
            grid-template-columns: repeat(2, 1fr);
            gap: 0 rem(10px);
        }

        input {
            border: 1px solid #378a6a;
            border-radius: rem(5px);
            height: rem(45px);
            padding-left: rem(13px);
            font-weight: 300;
            font-size: rem(14px);

            @include mq("md", min) {
                border-radius: rem(10px);
                font-size: rem(16px);
                height: rem(55px);
                padding-left: rem(23px);
            }
        }
    }

    #message {
        border: 1px solid #378a6a;
        border-radius: rem(5px);
        width: 100%;
        font-weight: 300;
        min-height: rem(120px);
        margin-top: rem(10px);
        padding: rem(13px);
        font-size: rem(14px);

        @include mq("md", min) {
            padding: rem(17px) rem(23px);
            font-size: rem(16px);
            border-radius: rem(10px);
            min-height: rem(206px);
        }
    }

    .form-policy {
        display: flex;

        margin-top: rem(10px);

        @include mq("md", min) {
            align-items: center;
        }

        #policy {
            width: rem(16px);
            height: rem(16px);
            vertical-align: middle;
            margin-right: rem(5px);
            margin-top: rem(5px);

            @include mq("md", min) {
                margin-top: 0;
                width: rem(20px);
                height: rem(20px);
            }
        }

        .policy {
            font-weight: 300;
            color: $white;
            display: inline-block;
            font-size: rem(14px);
            text-align: left;

            @include mq("md", min) {
                font-size: rem(16px);
            }
        }
    }

    .btn-contact {
        margin-top: rem(15px);
        border: none;
        background: $primary-2;
        color: $white;
        font-size: rem(16px);
        font-weight: bold;
        width: rem(120px);
        height: rem(40px);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: rem(90px);
        cursor: pointer;
        transition: all 0.3s;
        font-size: rem(15px);

        &.--comment {
            margin: auto;
            margin-top: rem(30px);
            width: rem(187px);
        }

        @include mq("md", min) {
            width: rem(133px);
            font-size: rem(16px);
            height: rem(56px);
            margin-top: rem(23px);
        }

        &:hover {
            background: $primary;
        }
    }
}

.c-description {

    font-size: rem(14px);
    line-height: calc(26/16);
    margin-bottom: 4rem;

    @include mq("md", min) {
        font-size: rem(16px);
    }

    img {
        margin: rem(20px) 0;
        max-width: 100%;
        height: auto !important;
    }

    h3 {
        margin-bottom: rem(7px);
    }

    h2 {
        font-size: 1.8rem;

        @include mq("md", min) {
            font-size: rem(22px);
        }
    }

    ul {
        padding-left: 3rem;
    }

    .wp-caption {
        max-width: 100rem;
        margin: 2rem auto;

        &-text {
            background: rgba(0, 0, 0, .05);
            text-align: center;
            font-style: italic;
            font-size: 1.3rem;
            padding: 1rem 0;
        }

        img {
            margin: 0;
        }
    }

    iframe {
        margin: auto;
    }

    &-inner {
        overflow: hidden;
        transition: max-height 0.5s ease;
        max-height: 50rem;

        &.active {
            overflow: visible;
            max-height: max-content;
        }
    }

    .more-bot {
        position: relative;

        .fade-overlay {
            position: absolute;
            bottom: 4rem;
            left: 0;
            width: 100%;
            height: 8rem;
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff);
            pointer-events: none;
            transition: opacity 0.3s ease;
        }

        .btn-load-more {
            margin-top: 3rem;
            text-align: center;

            .c-more {
                padding: 1rem 2rem;
                border: 1px solid #666;
                background: #fff;
                color: $primary;
                font-style: italic;
                border-radius: 0.6rem;
                cursor: pointer;
                font-weight: 600;
                transition: 0.3s;

                &:hover {
                    background: $primary;
                    border: 1px solid $primary;
                    color: #fff;
                }
            }
        }
    }

    table {
        width: 100%;
        margin: 1rem 0;
        border-collapse: collapse;
        border: 1px solid #ececec;

        tr {
            border-bottom: 1px solid #ececec;
            transition: 0.2s;

            &:nth-child(even) {
                background: #f8f9fa;
            }

            td {
                padding: 1rem;
                vertical-align: top;


                &:first-child {
                    width: 29%;
                    font-weight: 600;
                    color: #333;
                    border-right: 1px solid #ececec;
                }

            }
        }
    }




    // &.--anchor {
    //     position: relative;
    //     max-height: rem(500px);
    //     transition: max-height 0.3s ease;
    //     overflow: hidden;

    //     &.--product {
    //         max-height: rem(1070px);
    //     }

    //     &:after {
    //         width: 100%;
    //         height: 100%;
    //         position: absolute;
    //         content: "";
    //         bottom: 0;
    //         left: 0;
    //         background-image: linear-gradient(to top, #fff, transparent);
    //     }

    //     &.show {
    //         &:after {
    //             display: none;
    //         }
    //     }
    // }

    // &.--custome {
    //     h2 {
    //         
    //         color: $primary;
    //         font-size: rem(20px);
    //         text-transform: uppercase;
    //         display: flex;
    //         align-items: center;
    //         gap: rem(9px);
    //         line-height: 1.3;
    //         margin-bottom: rem(15px);

    //         @include mq("md", min) {
    //             font-size: rem(28px);
    //         }

    //         strong {
    //             width: rem(33px);
    //             height: rem(33px);
    //             border: 2px solid #FFE185;
    //             border-radius: 50%;
    //             background: $primary-2;
    //             font-size: rem(20px);
    //             display: inline-flex;
    //             align-items: center;
    //             justify-content: center;
    //             flex-shrink: 0;

    //             @include mq("md", min) {
    //                 width: rem(43px);
    //                 height: rem(43px);
    //                 font-size: rem(30px);
    //             }
    //         }
    //     }

    //     h3 {
    //         font-size: rem(18px);
    //         color: $primary;
    //         

    //         @include mq("md", min) {
    //             font-size: rem(22px);
    //         }
    //     }
    // }
}

.c-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    font-size: 1.3rem;
    color: #111;
    margin-top: 2rem;
    position: relative;
    padding-top: 1.5rem;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 3rem;
        height: 3px;
        background: #ccc;
    }

    &.--more {
        &:before {
            display: none;
        }
    }

    &.--detail {
        margin-top: 0;
        padding-top: 0;
    }

    @include mq("md", min) {}

    .c-writer {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        text-transform: capitalize;
        font-weight: 600;

        img {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
        }
    }



    .c-date {
        display: inline-block;
        background: url(../images/ic-person.svg) no-repeat left -0.4rem;
        background-size: 2.2rem;
        padding-left: 2.5rem;
    }
}

.btn-loadmore {
    background: $primary;
    color: #fff;
    border: none;
    padding: 1.5rem 1rem 1.5rem 3rem;
    font-size: 1.6rem;
    font-weight: 500;
    cursor: pointer;
    border-radius: 0.6rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    transition: all 0.25s ease;
    justify-content: space-between;

    @include mq("md", min) {

        font-size: 1.8rem;
    }

    &:hover {
        background: $hover;

        i {
            transform: translateY(3px);
        }
    }

    i {
        font-size: 1.6rem;
        transition: transform 0.3s ease;
    }

}




// .c-time {
//     display: inline-block;
//     background: url(../images/ic-time.png) no-repeat left center;
//     background-size: rem(14px) rem(14px);
//     padding-left: rem(20px);
//     font-size: rem(14px);
//     color: #666;
// }

// .c-like {
//     display: inline-block;
//     background: url(../images/ic-like-2.png) no-repeat left center;
//     background-size: rem(13px) rem(13px);
//     padding-left: rem(16px);
//     font-size: rem(14px);
//     color: #000;
//     cursor: pointer;
// }

// .c-images {
//     margin: rem(18px) 0;
// }


.p-products-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(15px);


    @include mq("md", min) {
        grid-template-columns: repeat(4, 1fr);
        gap: rem(22px) rem(20px);

    }
}

.product-box {
    position: relative;

    .sale-badge {
        position: absolute;
        top: 0;
        left: -0.5rem;
        z-index: 2;
        display: inline-block;
        background: $primary;
        color: #fff;
        font-weight: 600;
        padding: 0.5rem 1rem 0.5rem 1rem;
        border-radius: 0.5rem 2rem 2rem 0.5rem;
        font-size: 1.5rem;

        /* Phần gập nhỏ phía dưới */
        &::after {
            content: "";
            position: absolute;
            bottom: -6px;
            left: 0;
            width: 0.5rem;
            height: 1rem;
            background: $primary;
            border-bottom-left-radius: 0.6rem;
        }
    }

    .product-item {
        background: #FFF;
        position: relative;
        display: block;
        border-radius: 1rem;
        box-shadow: rgb(60 64 67 / 10%) 0 1px 2px 0, rgb(60 64 67 / 15%) 0 2px 6px 2px;
        overflow: hidden;

        &.--cuz-01 {
            .product-item__img {
                @include mq("md", min) {
                    height: rem(214px);
                }
            }
        }

        &.--cuz-02 {
            box-shadow: none;
            text-align: center;

            .product-item__img {
                @include mq("md", min) {
                    height: 30rem;
                    overflow: hidden;
                    border-radius: 1.5rem;
                }
            }

            .product-price {
                justify-content: center;
            }
        }

        &__img {
            height: rem(180px);
            overflow: hidden;
            position: relative;
            z-index: 1;

            @include mq("md", min) {
                height: rem(274px);
            }

            img {
                transition: all 0.3s;
            }
        }

        &__ttl {

            font-size: rem(15px);
            line-height: 1.5;
            margin-bottom: 1rem;
            display: block;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            font-weight: normal;
            font-weight: 600;

            @include mq("md", min) {
                font-size: rem(16px);
            }
        }

        &__meta {
            padding: 1rem;
        }

        &__des {
            text-align: center;
            background: #f1f1f1;
            margin-top: 1rem;
            border-radius: 0.5rem;
            padding: 0.5rem;
            font-size: 1.3rem;
            line-height: 1.7;
        }

        &:hover {

            .product-item__ttl {
                color: $primary;
            }

            .product-item__img {
                img {
                    transform: scale(1.15);
                }
            }
        }
    }
}



.product-price {
    display: flex;
    gap: rem(10px);
    align-items: flex-end;

    @include mq("md", min) {
        align-items: center;
    }

    &.hot {
        justify-content: flex-start;
        gap: rem(20px);

        .new-price {
            @include mq("md", min) {
                font-size: rem(20px);
            }
        }

        .old-price {
            @include mq("md", min) {
                font-size: rem(13px);
            }
        }
    }

    .new-price {
        color: $primary;
        font-size: rem(16px);
        font-weight: 700;
        display: block;
        line-height: 1;

        @include mq("md", min) {
            font-size: rem(18px);
        }
    }

    .old-price {
        color: #888;
        text-decoration: line-through;
        font-size: rem(11px);
        display: block;
        line-height: 1;

        @include mq("md", min) {
            font-size: rem(15px);
        }
    }
}

.c-product {
    .product-item {
        &__img {
            height: rem(205px);
        }

        &__meta {
            padding: rem(10px);

            @include mq("md", min) {
                padding: rem(17px);
            }

        }

        &__label {
            font-size: rem(15px);
        }

        &__ttl {
            font-size: rem(18px);
            line-height: calc(24/18);
        }

        .product-price {
            .new-price {
                font-size: rem(18px);
            }

            .old-price {
                font-size: rem(13px);
            }
        }

        &__rates {
            &__star {
                width: rem(47px);
                height: rem(21px);
                gap: rem(5px);

                .ic_rates {
                    width: rem(11px);
                    height: rem(11px);
                }
            }
        }

        .product-item__buyed__ttl {
            display: none;
        }
    }

    &.--liked {
        .product-item {
            &__sale {
                width: rem(50px);
                height: rem(19px);
                font-size: rem(11px);

                &:before {
                    width: rem(11px);
                    height: rem(11px);
                }
            }

            &__img {
                height: rem(170px);

                @include mq("md", min) {
                    height: rem(190px);
                }
            }

            &__meta {
                padding: rem(10px);
            }

            &__label {
                font-size: rem(14px);
            }

            &__ttl {
                font-size: rem(16px);
            }

            .product-price {
                .new-price {
                    font-size: rem(16px);
                }

                .old-price {
                    font-size: rem(12px);
                }
            }

            &__buyed {
                font-size: rem(13px);
                padding-left: rem(16px);
            }

            &__rates {
                &__star {
                    font-size: rem(13px);

                }
            }
        }
    }
}

.c-hotline {
    background: url(../images/ic-call-4.png) no-repeat left center;
    background-size: rem(35px) rem(35px);
    padding: rem(10px) rem(50px);

    @include mq("md", min) {
        background-size: rem(45px) rem(45px);
        padding: rem(10px) rem(60px);
    }

    .c-num {
        font-size: rem(16px);
        font-weight: $font-weight-bold;
        display: block;
        line-height: 1;

        @include mq("md", min) {
            font-size: rem(18px);
        }
    }

    label {
        font-size: $font-weight-semibold;
        font-size: rem(11px);

        @include mq("md", min) {
            font-size: rem(13px);
        }
    }
}

.c-btn-cart {
    display: flex;
    margin-top: rem(25px);
    gap: rem(10px);

    &-btn {
        border-radius: rem(10px);
        background: $primary;
        color: #fff;
        height: rem(50px);
        font-size: rem(16px);

        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        width: 100%;
        transition: all 0.3s;
        cursor: pointer;
        background: $primary;

        &:hover {
            transform: translateY(-2px);
            background: $hover;
        }
    }
}

.toc {

    margin: 2rem 0;

    /* HEADER */
    &-header {
        padding: 0.8rem;
        font-weight: 600;
        background: #f9f9f9;
        border: 1px solid #aaa;
        border-radius: 0.4rem;
        max-width: 24rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    /* ICON BUTTON */
    &-btn {
        border: none;
        background: #ddd;
        padding: 6px 10px;
        cursor: pointer;
        border-radius: 6px;
    }

    /* BODY */
    &-body {


        display: none;

        ul {
            padding-left: 1rem;
            list-style: none;

            li {
                margin: 0.3rem 0;

                ul,
                ol {
                    padding-left: 1.5rem;
                }

                a {
                    font-size: 1.4rem;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

    }

    &-content {
        padding: 1rem;
        display: inline-block;
        width: auto;
        background: #f9f9f9;
        border: 1px solid #aaa;
        margin-top: 1px;
        border-radius: 0.4rem;
    }


}

// .box-anchor {
//     background: $primary-2;
//     border-radius: rem(10px);
//     padding: rem(3px);
//     margin-bottom: rem(20px);

//     @include mq("md", min) {
//         padding: rem(5px);
//     }

//     &-content {
//         background: #Fff;
//         border-radius: rem(6px);
//         border: 1px dashed $primary-2;
//         padding: rem(15px);

//         @include mq("md", min) {
//             padding: rem(20px) rem(12px) rem(20px) rem(30px);
//         }
//     }

//     &__ttl {
//         display: flex;
//         justify-content: space-between;
//         text-transform: uppercase;
//         align-items: center;
//         font-size: rem(18px);
//         
//     }

//     &__lst {
//         padding: 0;
//         margin: 0;
//         list-style: none;

//         li {
//             a {
//                 font-size: rem(16px);
//                 
//                 padding: rem(5px) 0;
//                 display: flex;
//                 align-items: center;
//                 gap: rem(10px);
//                 transition: all 0.3s;

//                 @include mq("md", min) {
//                     font-size: rem(18px);
//                 }

//                 &:hover {
//                     color: $primary;
//                 }

//                 &:before {
//                     content: '';
//                     width: rem(5px);
//                     height: rem(5px);
//                     border-radius: 50%;
//                     background: $primary-2;
//                 }
//             }

//             ul {
//                 list-style: none;
//                 padding-left: rem(20px);

//                 @include mq("md", min) {
//                     padding-left: rem(40px);
//                 }

//                 li {
//                     a {
//                         font-family: $font-Montserrat;

//                         &:before {
//                             display: none;
//                         }
//                     }
//                 }
//             }
//         }
//     }

//     .btn-anchor {
//         background: $primary-2;
//         width: rem(31px);
//         height: rem(31px);
//         border-radius: rem(5px);
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         cursor: pointer;

//         &:hover {
//             opacity: 0.7;
//         }
//     }
// }

// .btn-load-more {
//     border: 1px solid #D9D9D9;
//     background: #FFF;
//     border-radius: rem(5px);
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     font-size: rem(15px);
//     height: rem(38px);
//     gap: rem(6px);
//     cursor: pointer;
//     position: absolute;
//     left: 0;
//     right: 0;
//     margin: auto;
//     bottom: rem(27px);
//     z-index: 3;
//     max-width: rem(140px);

//     &.hide {
//         display: none;
//     }

//     &:after {
//         content: "";
//         background: url(../images/ic-down-2.png) no-repeat center;
//         background-size: contain;
//         width: rem(8px);
//         height: rem(8px);
//     }

//     .c-reduce {
//         display: none;
//     }
// }

.c-title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mq("md", min) {
        align-items: center;
    }

    &.--wrap {
        @include mq("md") {
            flex-direction: column;
            gap: 2rem;
            align-items: flex-start;


        }

        .product-home__cate {
            @include mq("md") {
                overflow-x: auto;

                &::-webkit-scrollbar {
                    height: 0;
                    /* ⚠️ dùng height */
                }

                /* Nền track */
                &::-webkit-scrollbar-track {
                    background: transparent;
                    border-radius: 0;
                }

                .cate-item {
                    flex-shrink: 0;
                }
            }

        }
    }

}

.c-view {
    text-align: center;
    padding-top: 3rem;

    .view-more {
        border-radius: rem(10px);
        background: $primary;
        font-size: rem(15px);
        width: rem(114px);
        height: rem(40px);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s;
        color: #FFF;
        margin: auto;

        &:hover {
            background: $hover;

        }
    }
}


.news-item {
    &.--cuz {
        display: flex;
        gap: 2rem;

        @include mq("md") {
            flex-direction: column;
        }

        .news-item__img {

            flex-shrink: 0;
            height: auto;
            overflow: hidden;
            border-radius: 1rem;

            @include mq("md", min) {
                width: 25rem;
            }
        }

        .news-item__ttl {
            font-size: 1.6rem;
            color: $primary;

            @include mq("md", min) {
                font-size: 1.8rem;
            }

            &:hover {
                color: #111;
            }
        }

        .news-item__meta {
            padding: 0;
        }

        .news-item__date {
            font-size: 1.4rem;
            margin: 1rem 0;
        }

        &:hover {

            .news-item__img,
            .news-item__meta {
                transform: translateY(0px);
            }


        }
    }

    &__img {
        height: rem(124px);
        overflow: hidden;

        transition: all 0.3s;

        @include mq("md", min) {
            height: 32rem;
        }
    }

    &__cate {
        text-transform: uppercase;
        font-size: 1rem;
        background: rgba(0, 0, 0, .4);
        border-radius: 0.2rem;
        color: #FFF;
        display: inline-block;
        padding: 0.2rem 0.5rem;
        display: inline-block;
    }

    &__meta {
        background: #fff;
        transition: all 0.3s;

        @include mq("md", min) {
            padding: 0.5rem 0;
        }
    }

    &__ttl {
        font-size: 1.5rem;
        line-height: 1.4;
        margin: 0.4rem 0;
        font-weight: 600;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;

        @include mq("md", min) {
            font-size: 1.6rem;
        }
    }

    &__short {
        font-size: rem(14px);
        margin-top: rem(10px);
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        position: relative;
        padding-top: 1rem;

        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 3rem;
            height: 2px;
            background: rgba(0, 0, 0, .1);
        }
    }

    &__txt {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    &__date {
        font-size: 1.2rem;
        color: #666;
        margin: 0.5rem 0;
        position: relative;
        display: flex;
        align-items: center;
        gap: 0.4rem;

        &:before {
            content: "\f017";
            /* icon chevron-right */
            font-family: "Font Awesome 6 Free";
            font-weight: 900;
            font-size: 1.2rem;
        }
    }




    &:hover {
        .news-item__ttl {
            color: $primary;
        }

        .news-item__cate {
            background: $primary;
            color: #FFF;
        }

        .news-item__img {
            transform: translateY(-5px);
        }

        .news-item__meta {
            transform: translateY(-15px);
        }
    }
}

.c-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: rem(10px);
    font-size: rem(15px);

    input {
        display: none;



        &:checked+.checkmark {
            background: $primary;
            border-color: $primary;

            &:after {
                opacity: 1;
            }

            &.--cuz {
                border-color: #fff;
            }
        }
    }

    .checkmark {
        width: rem(23px);
        height: rem(23px);
        border: 1px solid #D9D9D9;
        border-radius: rem(5px);
        position: relative;

        &.--cuz {
            background: #FFF;
            border-radius: rem(3px);
            margin: auto;
            width: rem(21px);
            height: rem(21px);
        }

        &.center {
            margin: auto;
        }

        &.border {
            border: 1px solid #B3B3B3;
            width: rem(18px);
            height: rem(18px);

            @include mq("md", min) {
                width: rem(21px);
                height: rem(21px);
            }

            &:after {
                @include mq("md") {
                    top: rem(2px);
                    width: rem(4px);
                    height: rem(8px);
                }
            }
        }

        &::after {
            content: "";
            position: absolute;
            left: rem(6px);
            top: rem(3px);
            width: rem(6px);
            height: rem(10px);
            border: solid #fff;
            border-width: 0 rem(2px) rem(2px) 0;
            transform: rotate(45deg);
            opacity: 0;
        }
    }
}

// .c-stars {
//     .star-rating {
//         --rating: 0;
//         --percent: calc(var(--rating) / 5 * 100%);
//         position: relative;
//         display: flex;
//         --gap: 2px;
//         line-height: 1;
//         --star-full: url(../images/ic-star-full.png);
//         /* sao vàng */
//         --star-empty: url(../images/ic-star.png);
//         /* sao xám */
//         --star-size: 15px;
//         width: calc((var(--star-size) + var(--gap)) * 5 - var(--gap));
//         height: var(--star-size);
//         position: relative;
//         background: var(--star-empty) repeat-x;
//         background-size: calc(var(--star-size) + var(--gap)) var(--star-size);
//         background-position: left center;

//         &.--comment {
//             --star-size: 20px;

//             @include mq("md", min) {
//                 --star-size: 25px;
//             }
//         }

//         &::after {
//             content: "";
//             position: absolute;
//             inset: 0;
//             width: calc(var(--rating) / 5 * 100%);
//             background: var(--star-full) repeat-x;
//             background-size: calc(var(--star-size) + var(--gap)) var(--star-size);
//             ;
//             overflow: hidden;
//         }

//         span {
//             position: relative;
//             z-index: 2;
//             width: calc(var(--star-size) + var(--gap));
//             height: var(--star-size);
//             cursor: pointer;
//         }
//     }
// }

// .c-products-more {
//     border-radius: rem(15px);
//     box-shadow: 0 0 rem(10px) 0 rgba($color: #000000, $alpha: 0.1);
//     padding: rem(15px);
//     margin: rem(30px) 0;
//     position: relative;
//     display: flex;
//     gap: rem(15px);

//     @include mq("md", min) {
//         gap: rem(19px);
//     }

//     &__img {
//         width: rem(120px);
//         flex-shrink: 0;
//         border-radius: rem(8px);
//         overflow: hidden;

//         @include mq("md") {
//             height: rem(120px);
//         }

//         @include mq("md", min) {
//             width: rem(154px);
//         }

//         img {
//             margin: 0;
//             height: 100% !important;
//         }
//     }

//     &__meta {
//         flex: 1;

//         &__btn {
//             background: $primary-4;
//             text-transform: uppercase;
//             color: #FFF;
//             font-size: rem(16px);
//             
//             padding: rem(8px) rem(20px);
//             border-radius: rem(5px);
//             display: flex;
//             align-items: center;
//             justify-content: center;
//             margin-top: rem(10px);
//             max-width: rem(190px);
//             cursor: pointer;

//             &:hover {
//                 background: $primary;
//             }
//         }

//         &__alarm {
//             background: #E0EDFF;
//             border-radius: 0 rem(10px) rem(10px) rem(10px);
//             padding: rem(12px);
//             
//             font-size: rem(15px);
//             line-height: calc(24/15);
//             max-width: rem(380px);
//             margin-top: rem(15px);
//             position: relative;

//             @include mq("md", min) {
//                 position: absolute;
//                 right: rem(10px);
//                 bottom: rem(10px);
//                 padding: rem(16px) rem(25px);
//                 border-radius: 0 rem(19px) rem(19px) rem(19px);

//             }

//             &:before {
//                 position: absolute;
//                 content: "";
//                 width: rem(15px);
//                 height: rem(15px);
//                 border-radius: 50%;
//                 background: $primary-2;
//                 top: rem(-5px);
//                 left: rem(-5px);
//             }

//             strong {
//                 color: $primary-4;
//             }
//         }

//         &__ttl {
//             font-size: rem(17px);
//             font-family: 600;
//             line-height: 1.3;
//             display: flex;

//             @include mq("md", min) {
//                 font-size: rem(18px);
//             }

//             &:hover {
//                 color: $primary;
//             }
//         }

//         .product-price {
//             justify-content: flex-start;
//             margin: rem(5px) 0;

//             @include mq("md", min) {
//                 margin: rem(10px) 0;
//             }

//             .new-price {
//                 font-size: rem(18px);
//             }

//             .old-price {
//                 font-size: rem(15px);
//             }
//         }


//     }
// }

// .block-product {
//     border-radius: rem(20px);
//     background: #ECF2FF;
//     padding: rem(15px);
//     margin-bottom: rem(40px);

//     &.no-bg {
//         background: none;
//         margin: 0;
//         padding: 0;
//     }

//     @include mq("md", min) {
//         padding: rem(25px) rem(30px);
//     }

//     .js-product-like {
//         margin: rem(15px) rem(-5px) 0;

//         @include mq("md", min) {
//             margin: rem(23px) rem(-9px) 0;
//         }

//         .product-item {
//             margin: rem(9px);
//         }
//     }
// }



// .p-commit {
//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
//     gap: rem(14px) rem(8px);
//     margin-bottom: rem(49px);

//     @include mq("md", min) {
//         grid-template-columns: repeat(4, 1fr);
//         gap: rem(23px);
//     }

//     &.--product {
//         margin-bottom: rem(23px);
//     }

//     .commit-item {
//         border-radius: rem(10px);
//         border: 1px solid #C0D2FB;
//         background: #ECF2FF;
//         padding: rem(11px) 0 rem(11px) rem(11px);
//         display: flex;
//         align-items: center;
//         gap: rem(6px);

//         @include mq("md", min) {
//             padding: rem(16px) 0 rem(16px) rem(16px);
//         }

//         &__img {
//             width: rem(52px);
//             height: rem(52px);
//             flex-shrink: 0;

//             @include mq("md", min) {
//                 width: rem(73px);
//                 height: rem(73px);
//             }
//         }

//         &__meta {
//             color: $primary;

//             &__ttl {

//                 font-weight: normal;
//                 text-transform: uppercase;
//                 font-size: rem(20px);
//                 line-height: calc(24/20);

//                 @include mq("md", min) {
//                     font-size: rem(22px);
//                 }

//             }

//             &__txt {
//                 font-size: rem(14px);
//                 line-height: calc(16/14);

//                 @include mq("md", min) {
//                     font-size: rem(18px);
//                     line-height: calc(24/18);
//                 }
//             }
//         }
//     }
// }

.popup-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;

    &.show {
        display: flex;
    }

    .popup-box {
        background: #fff;
        padding: rem(20px);
        border-radius: rem(10px);
        max-width: 100%;
        width: rem(700px);
        position: relative;
        max-height: 96%;
        overflow-y: scroll;
    }

    .popup-close {
        position: absolute;
        top: rem(8px);
        right: rem(10px);
        background: none;
        border: none;
        font-size: rem(22px);
        cursor: pointer;
    }
}

// .box-cart {
//     position: absolute;
//     right: 0;
//     top: rem(56px);
//     background: #EAF1FF;
//     box-shadow: 0 rem(4px) rem(2px) 0 rgba($color: #000000, $alpha: 0.1);
//     width: rem(386px);
//     z-index: 6;
//     padding: rem(9px);
//     animation: fadeInUp 0.4s ease;
//     opacity: 0;
//     transform: translateY(10px);
//     transition: opacity 0.3s ease, transform 0.3s ease;
//     visibility: hidden;

//     &.show {
//         opacity: 1;
//         visibility: visible;
//         transform: translateY(0);
//         pointer-events: auto;
//     }

//     &-wrap {
//         background: #FFF;
//         padding: rem(9px);
//     }

//     &__item {
//         display: flex;
//         align-items: center;
//         gap: rem(9px);

//         &__img {
//             width: rem(53px);
//             height: rem(53px);
//             flex-shrink: 0;
//         }

//         &__info {
//             display: flex;
//             flex-direction: column;
//             gap: rem(5px);


//             &__ttl {
//                 font-size: rem(15px);
//                 font-family: $font-Montserrat;
//                 font-weight: normal;
//                 color: #000;
//             }
//         }

//         &__qty {
//             width: rem(35px);

//             input {
//                 width: rem(35px);
//                 border: 1px solid #E3E3E3;

//                 &::-webkit-outer-spin-button,
//                 &::-webkit-inner-spin-button {
//                     -webkit-appearance: auto;
//                     margin: 0;
//                 }

//                 & {
//                     -moz-appearance: number-input;
//                     appearance: auto;
//                 }
//             }
//         }

//         &__price {
//             display: flex;
//             flex-direction: column;
//             gap: rem(5px);

//             .new-price {
//                 font-size: rem(18px);
//                 
//                 color: $primary;
//             }
//         }
//     }

//     &__total {
//         border-top: 1px solid #EAF1FF;
//         font-size: rem(18px);
//         text-align: right;

//         strong {
//             color: $primary;
//             font-size: rem(25px);
//             
//         }
//     }

//     &-action {
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
//         margin-top: rem(9px);

//         &__continue {
//             font-size: rem(15px);
//             background: url(../images/ic-prev-2.png) no-repeat left rem(7px);
//             background-size: rem(12px);
//             padding-left: rem(20px);
//             transition: all 0.3s;

//             &:hover {
//                 color: $primary;
//                 padding-left: rem(18px);
//             }
//         }

//         &__view {
//             background: $primary-2;
//             color: $primary;
//             
//             font-size: rem(18px);
//             width: rem(141px);
//             height: rem(38px);
//             border-radius: rem(5px);
//             display: flex;
//             align-items: center;
//             justify-content: center;
//             transition: all 0.3s;

//             &:hover {
//                 background: $primary;
//                 color: #FFF;
//             }
//         }
//     }
// }
.car-search {
    background: #000;
    padding: 2.5rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;

    @include mq("md") {
        margin: 0 -1.5rem;
        border-radius: 0.5rem;
        text-align: center;
        justify-content: center;
    }

    &__title {
        color: #fff;
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.4;
    }

    &__form {
        display: flex;
        gap: 1.5rem;
        flex: 1;

        @include mq("md") {
            flex-direction: column;
        }

        select {

            height: 4.5rem;
            padding: 0 1.5rem;
            border-radius: 0.6rem;
            border: none;
            font-size: 1.5rem;

            &t:disabled {
                background: #e5e5e5;
                color: #999;
                cursor: not-allowed;
            }

            @include mq("md", min) {
                flex: 1;
            }
        }

        .btn-search {
            background: $primary;
            color: #fff;
            border: none;
            padding: 0 3rem;
            height: 4.5rem;
            border-radius: 0.6rem;
            font-weight: 700;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                background: #c80000;
            }

        }
    }
}

.consult-section {

    padding: 5rem 0;

    .consult-container {

        display: flex;
        gap: 3rem;
        align-items: center;
        flex-direction: column;

        @include mq("md", min) {

            flex-direction: row;
        }

        .consult-banner {
            flex: 1;
            padding: 1rem;
            position: relative;

            .c-line {
                width: 5rem;
                height: 5rem;
                display: block;
                border-right: none;
                border-bottom: none;
                border-top: 2px solid $primary;
                border-left: 2px solid $primary;
                border-top-left-radius: 1rem;
                position: absolute;

                &.--01 {
                    left: 0;
                    top: 0;
                }

                &.--02 {
                    right: 0;
                    top: 0;
                    transform: rotate(90deg);
                }

                &.--03 {
                    right: 0;
                    bottom: 0;
                    transform: rotate(180deg);
                }

                &.--04 {
                    left: 0;
                    bottom: 0;
                    transform: rotate(-90deg);
                }
            }

            img {
                margin: 0;
                width: 100%;
                border-radius: 1.2rem;
                display: block;
                box-shadow: 1px 1px 4px 2px #3333332b;
            }

        }

        .consult-form {
            flex: 1;
            text-align: center;

            h2 {
                font-size: 2.2rem;
                font-weight: 600;
                margin-bottom: 1rem;
            }

            p {
                margin-bottom: 2rem;
                font-size: 1.6rem;
            }

            form {
                display: flex;
                flex-direction: column;
                gap: 2rem;


                input {
                    height: 5rem;
                    padding: 0 1.5rem;
                    border-radius: 0.6rem;
                    border: 1px solid #ddd;
                    font-size: 1.5rem;
                    outline: none;
                    transition: 0.2s;



                    &:focus {
                        border-color: #e60012;
                    }

                }

                /* BUTTON */
                .btn-submit {
                    width: 20rem;
                    height: 5rem;
                    background: #d80019;
                    color: #fff;
                    border: none;
                    border-radius: 0.6rem;
                    font-weight: 600;
                    cursor: pointer;
                    transition: 0.25s;
                    margin: auto;

                    &:hover {
                        background: $hover;
                    }
                }

            }
        }
    }

}