.ttl01 {

    font-family: $font-Averta-bold;
    color: $primary;
    border-left: rem(4px) solid $primary-2;
    font-size: rem(22px);
    line-height: 1;
    padding-left: rem(10px);

    @include mq("md", min) {
        font-size: rem(26px);
    }

    &.txt-transform {
        text-transform: uppercase;
    }

    &.--liked {
        @include mq("md") {
            font-size: rem(20px);
        }
    }

    &.detail {
        text-transform: none;
        line-height: 1.3;
    }
}

.txt-center {
    text-align: center;
}

.ttl02 {
    color: $primary;
    font-weight: bold;
    font-size: rem(20px);
    line-height: 1.2;

    @include mq("md", min) {
        font-size: rem(45px);
    }

    span {
        color: $primary-2;
    }

    &.center {
        text-align: center;
    }
}

.ttl-related {
    text-transform: uppercase;
    font-weight: $font-weight-semibold;
    font-size: rem(18px);

    @include mq("md", min) {
        font-size: rem(35px);
    }
}

.ttl03 {
    font-size: rem(16px);
    font-weight: $font-weight-semibold;

    @include mq("md", min) {
        font-size: rem(25px);
    }

    &.--center {
        text-align: center;
    }
}

.ttl-detail {
    font-size: rem(25px);
    font-family: $font-Averta-bold;
    color: $primary;
    line-height: 1.3;

    @include mq("md", min) {
        font-size: rem(30px);
    }
}

.ttl-cate {
    font-size: rem(20px);
    font-family: $font-Averta-bold;
    color: $primary;
    line-height: 1.3;
    text-transform: uppercase;

    @include mq("md", min) {
        font-size: rem(40px);
    }
}