@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.p-news {
  margin-top: 2rem;
}
@media (min-width: 768px) {
  .p-news {
    padding-bottom: 1.6rem;
  }
}
.p-news.detail {
  padding-bottom: 0;
}
.p-news-wrap {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
@media (min-width: 768px) {
  .p-news-wrap {
    gap: 3.4rem;
    flex-direction: row;
  }
}
.p-news-wrap .news-content {
  flex: 1;
}
@media (min-width: 768px) {
  .p-news-wrap .news-content {
    width: calc(100% - 31.6rem);
  }
}
.p-news-wrap .news-content-inner {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.p-news-wrap .news-content-grid {
  display: grid;
  gap: 1.2rem;
  margin-bottom: 4rem;
}
@media (max-width: 767px) {
  .p-news-wrap .news-content-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .p-news-wrap .news-content-grid {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
.p-news-wrap .news-content-section:not(:last-child) {
  margin-bottom: 4rem;
}
.p-news-wrap .news-content-section-content {
  margin-top: 2.2rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}
@media (min-width: 768px) {
  .p-news-wrap .news-content-section-content {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 768px) {
  .p-news-wrap .sidebar-news {
    margin-top: 0;
    width: 40rem;
    flex-shrink: 0;
  }
}
.p-news-wrap .sidebar-news__block {
  margin-bottom: 2rem;
  overflow: hidden;
}
.p-news-wrap .sidebar-news__ttl {
  font-size: 1.8rem;
  color: #d80019;
  position: relative;
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .p-news-wrap .sidebar-news__ttl {
    font-size: 2rem;
  }
}
.p-news-wrap .sidebar-news__ttl:after {
  position: absolute;
  content: "";
  width: 4rem;
  height: 0.3rem;
  background: #d80019;
  left: 0;
  bottom: 0;
}
@media (min-width: 768px) {
  .p-news-wrap .sidebar-news__ttl:after {
    width: 4.5rem;
    left: 0;
  }
}
.p-news-wrap .sidebar-news__categories {
  padding: 0;
  list-style: none;
  margin: 0;
}
.p-news-wrap .sidebar-news__categories li a {
  display: flex;
  align-items: center;
  padding: 0.4rem 0;
  gap: 1rem;
  transition: all 0.3s;
}
.p-news-wrap .sidebar-news__categories li a:before {
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: #111;
}
.p-news-wrap .sidebar-news__categories li a.active, .p-news-wrap .sidebar-news__categories li a:hover {
  color: #d80019;
}
.p-news-wrap .sidebar-news-items {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  margin-bottom: 1.5rem;
}
.p-news-wrap .sidebar-news-items__img {
  overflow: hidden;
  width: 8rem;
  height: 8rem;
  flex-shrink: 0;
}
@media (min-width: 768px) {
  .p-news-wrap .sidebar-news-items__img {
    width: 8rem;
    height: 8rem;
  }
}
.p-news-wrap .sidebar-news-items__ttl {
  line-height: 1.5;
  text-transform: capitalize;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 1.4rem;
}
@media (min-width: 768px) {
  .p-news-wrap .sidebar-news-items__ttl {
    font-size: 1.5rem;
  }
}
.p-news-wrap .sidebar-news-items:hover .sidebar-news-items__ttl {
  color: #d80019;
}/*# sourceMappingURL=news.css.map */