@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.p-product {
  margin-top: 2rem;
}
@media (min-width: 768px) {
  .p-product {
    margin-top: 4rem;
  }
}
.p-product .bnr-cat {
  overflow: hidden;
  border-radius: 1rem;
}
.p-product-wrap {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
@media (min-width: 768px) {
  .p-product-wrap {
    grid-template-columns: repeat(4, 1fr);
  }
}
.p-product-detail {
  margin-top: 2rem;
}
@media (min-width: 768px) {
  .p-product-detail {
    margin-top: 4rem;
  }
}
.p-product-detail__top {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
@media (min-width: 768px) {
  .p-product-detail__top {
    margin-bottom: 3rem;
    gap: 3rem;
    flex-direction: row;
  }
}
.p-product-detail__top .product-commit {
  width: 25%;
}
.p-product-detail__top .product-commit .commit-box {
  background: #fff;
  border-radius: 1.5rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
  overflow: hidden;
}
.p-product-detail__top .product-commit {
  /* Header */
}
.p-product-detail__top .product-commit .commit-header {
  background: #f2f2f2;
  text-align: center;
  padding: 1.6rem;
  font-weight: 600;
  font-size: 2rem;
  border-bottom: 1px solid #e5e5e5;
}
.p-product-detail__top .product-commit {
  /* List */
}
.p-product-detail__top .product-commit .commit-list {
  list-style: none;
  padding: 2rem;
  margin: 0;
}
.p-product-detail__top .product-commit .commit-list li {
  position: relative;
  padding-left: 2rem;
  margin-bottom: 1rem;
}
.p-product-detail__top .product-commit {
  /* Tam giác đỏ */
}
.p-product-detail__top .product-commit .commit-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.5rem;
  width: 0;
  height: 0;
  border-left: 0.7rem solid #d80019;
  border-top: 0.7rem solid transparent;
  border-bottom: 0.7rem solid transparent;
}
.p-product-detail__top .product-commit {
  /* Nút gọi */
}
.p-product-detail__top .product-commit .commit-call {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 0 1rem 1rem;
  padding: 1rem;
  border: 2px solid #d80019;
  border-radius: 3rem;
  color: #d80019;
  font-weight: 600;
  font-size: 1.6rem;
  text-decoration: none;
  transition: 0.3s;
}
.p-product-detail__top .product-commit .commit-call:hover {
  background: #8a020e;
  color: #fff;
}
.p-product-detail__top .product-gallery {
  width: 35%;
  overflow: hidden;
}
.p-product-detail__top .product-gallery .slider-for img {
  width: 100%;
  cursor: pointer;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 768px) {
  .p-product-detail__top .product-gallery .slider-for img {
    height: 47rem;
  }
}
.p-product-detail__top .product-gallery .slider-nav .slick-current img {
  opacity: 1;
}
.p-product-detail__top .product-gallery .slider-nav {
  margin: 1rem -0.8rem 0;
}
.p-product-detail__top .product-gallery .slider-nav__item {
  cursor: pointer;
  opacity: 0.6;
  height: 9rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 0.4rem;
}
.p-product-detail__top .product-gallery .slider-nav__item.slick-current {
  opacity: 1;
}
@media (min-width: 768px) {
  .p-product-detail__top .product-gallery .slider-nav__item {
    width: 7rem;
    height: 7rem;
  }
}
.p-product-detail__top .product-meta {
  width: 40%;
}
.p-product-detail__top .product-meta__multi {
  display: flex;
  margin: 1.2rem 0;
  gap: 1.5rem;
  align-items: center;
}
.p-product-detail__top .product-meta__multi .star-rating {
  gap: 0.2rem;
  font-size: 1.5rem;
  border-right: 1px solid #666;
  padding-right: 2rem;
  line-height: 1;
}
.p-product-detail__top .product-meta__multi .star-rating i {
  color: #ffc107;
  /* màu vàng */
}
.p-product-detail__top .product-meta__multi .rate {
  color: #d80019;
}
.p-product-detail__top .product-meta__price {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}
.p-product-detail__top .product-meta__price .price-now {
  font-size: 2rem;
  color: #d80019;
  font-weight: 600;
  line-height: 1;
}
@media (min-width: 768px) {
  .p-product-detail__top .product-meta__price .price-now {
    font-size: 3rem;
  }
}
.p-product-detail__top .product-meta__price .price-old {
  text-decoration: line-through;
}
.p-product-detail__top .product-meta__consult h3 {
  font-weight: 700;
  margin-bottom: 0.5rm;
  font-size: 1.6rem;
}
.p-product-detail__top .product-meta__consult p {
  margin-bottom: 1.5rem;
  color: #555;
}
.p-product-detail__top .product-meta__consult {
  /* FORM */
}
.p-product-detail__top .product-meta__consult .consult-form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.p-product-detail__top .product-meta__consult .consult-form input {
  flex: 1;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.p-product-detail__top .product-meta__consult .consult-form button {
  background: #8b0000;
  color: #fff;
  border: none;
  padding: 0 20px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}
.p-product-detail__top .product-meta__consult {
  /* PRICE */
}
.p-product-detail__top .product-meta__consult .list-option {
  display: flex;
  gap: 1rem;
  margin-bottom: 4rem;
  flex-wrap: wrap;
}
.p-product-detail__top .product-meta__consult .list-option__item {
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  text-align: center;
  border: 1px solid #ddd;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
}
.p-product-detail__top .product-meta__consult .list-option__item__ttl {
  font-size: 1.5rem;
  font-weight: 600;
}
.p-product-detail__top .product-meta__consult .list-option__item__price {
  color: #c40000;
  font-weight: 700;
}
.p-product-detail__top .product-meta__consult {
  /* MORE INFO */
}
.p-product-detail__top .product-meta__consult .more-info {
  position: relative;
  border: 2px solid #d80019;
  border-radius: 1rem;
  padding: 1.5rem 2rem 0;
}
.p-product-detail__top .product-meta__consult .more-info .info-title {
  position: absolute;
  top: -2rem;
  left: 2rem;
  background: #d80019;
  color: #fff;
  padding: 0.6rem 1.5rem;
  border-radius: 2rem;
  font-weight: 600;
  font-size: 1.5rem;
}
.p-product-detail__top .product-meta__consult .more-info ul {
  padding-left: 2rem;
}
.p-product-detail__top .product-meta__consult .more-info ul li {
  margin-bottom: 0.7rem;
}
.p-product-detail__body {
  margin-top: 3rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
@media (min-width: 768px) {
  .p-product-detail__body {
    gap: 3rem;
    flex-direction: row;
  }
}
.p-product-detail__body__left {
  flex: 1;
  box-shadow: rgba(60, 64, 67, 0.1) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 2px 6px 2px;
  padding: 1.5rem;
  border-radius: 1rem;
  background: #FFF;
}
@media (min-width: 768px) {
  .p-product-detail__body__right {
    width: 37rem;
  }
}
.p-product-detail__body__right .product-specifications {
  box-shadow: rgba(60, 64, 67, 0.1) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 2px 6px 2px;
  padding: 1rem;
  border-radius: 1rem;
  background: #FFF;
}
.p-product-detail__body__right .film-table-wrap {
  border-radius: 1rem;
  overflow: hidden;
  margin-top: 2rem;
}
.p-product-detail__body__right .film-table-wrap .film-table {
  width: 100%;
  border-collapse: collapse;
}
.p-product-detail__body__right .film-table-wrap .film-table thead tr {
  background: #e9e9e9;
}
.p-product-detail__body__right .film-table-wrap .film-table thead tr th {
  font-weight: 600;
}
.p-product-detail__body__right .film-table-wrap .film-table th,
.p-product-detail__body__right .film-table-wrap .film-table td {
  padding: 1rem;
  text-align: center;
  border-right: 1px solid #d0d0d0;
}
.p-product-detail__body__right .film-table-wrap .film-table th:first-child,
.p-product-detail__body__right .film-table-wrap .film-table td:first-child {
  text-align: left;
}
.p-product-detail__body__right .film-table-wrap .film-table th:last-child,
.p-product-detail__body__right .film-table-wrap .film-table td:last-child {
  border-right: none;
}
.p-product-detail__body__right .film-table-wrap .film-table tr:nth-child(even) {
  background: #e9e9e9;
}
.p-product-detail__ttl {
  display: inline-block;
  font-size: 1.6rem;
  position: relative;
  font-weight: 600;
}
@media (min-width: 768px) {
  .p-product-detail__ttl {
    font-size: 1.8rem;
  }
}
.p-product-detail .product-reviews {
  margin-bottom: 2.5rem;
}
@media (min-width: 768px) {
  .p-product-detail .product-reviews {
    margin-bottom: 4.5rem;
  }
}
.p-product-detail .product-reviews__ttl {
  color: #d80019;
  font-size: 2rem;
  font-family: 700;
  position: relative;
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
}
@media (min-width: 768px) {
  .p-product-detail .product-reviews__ttl {
    font-size: 3rem;
    margin-bottom: 2.5rem;
  }
}
.p-product-detail .product-reviews__ttl:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 4rem;
  height: 0.2rem;
  background: #F9CA00;
}
.p-product-detail .product-reviews__top {
  display: flex;
  gap: 2rem;
}
@media (min-width: 768px) {
  .p-product-detail .product-reviews__top {
    gap: 4rem;
  }
}
.p-product-detail .product-reviews__top__item {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
@media (max-width: 767px) {
  .p-product-detail .product-reviews__top__item {
    font-size: 1.5rem;
  }
}
.p-product-detail .product-reviews__top__item .num {
  color: #d80019;
  font-size: 1.6rem;
  font-family: 700;
}
@media (min-width: 768px) {
  .p-product-detail .product-reviews__top__item .num {
    font-size: 2rem;
  }
}
.p-product-detail .product-reviews__lst {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 3rem 0 2.2rem;
}
.p-product-detail .product-reviews__lst__item {
  display: flex;
  gap: 1.6rem;
}
.p-product-detail .product-reviews__lst__item__img {
  width: 4rem;
  height: 4rem;
  flex-shrink: 0;
}
@media (min-width: 768px) {
  .p-product-detail .product-reviews__lst__item__img {
    width: 5rem;
    height: 5rem;
  }
}
.p-product-detail .product-reviews__lst__item__meta {
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 2.5rem 0 rgba(0, 0, 0, 0.05);
}
@media (min-width: 768px) {
  .p-product-detail .product-reviews__lst__item__meta {
    padding: 1.6rem 3rem;
  }
}
.p-product-detail .product-reviews__lst__item__meta__top {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
  flex-direction: column;
}
@media (min-width: 768px) {
  .p-product-detail .product-reviews__lst__item__meta__top {
    align-items: center;
    flex-direction: row;
    gap: 1.5rem;
  }
}
.p-product-detail .product-reviews__lst__item__meta__ttl {
  color: #000;
  font-size: 2rem;
  font-family: 700;
}
.p-product-detail .product-reviews__lst__item__meta .sticked {
  color: #d80019;
  font-size: 1.5rem;
  background: url(../images/ic-check-2.png) no-repeat left center;
  background-size: 1.5rem;
  padding-left: 2.2rem;
}
.p-product-detail .product-reviews__lst__item__meta__txt {
  margin-top: 1rem;
  font-size: 1.5rem;
  line-height: 1.375;
}
@media (min-width: 768px) {
  .p-product-detail .product-reviews__lst__item__meta__txt {
    font-size: 1.6rem;
  }
}
.p-product-detail .product-reviews__lst__item__meta__txt img {
  margin: 1rem 0;
}
.p-product-detail .product-reviews__lst__item__meta__bot {
  margin-top: 1.3rem;
  display: flex;
  align-items: center;
  gap: 3rem;
}
.p-product-detail .product-reviews__more {
  font-size: 1.7rem;
  font-family: 700;
  color: #d80019;
  text-decoration: underline;
  display: inline-flex;
  gap: 1rem;
  align-items: center;
  margin-left: 5.5rem;
}
@media (min-width: 768px) {
  .p-product-detail .product-reviews__more {
    font-size: 2rem;
    gap: 2rem;
    margin-left: 6.5rem;
  }
}
.p-product-detail .product-reviews__more:hover {
  opacity: 0.7;
}
.p-product-detail .product-reviews__more:after {
  content: "";
  width: 1.8rem;
  height: 1.5rem;
  background: url(../images/ic-right-2.png) no-repeat;
  background-position: right 0.3rem;
  background-size: contain;
}
@media (min-width: 768px) {
  .p-product-detail .product-reviews__more:after {
    background-position: right 0.6rem;
  }
}
.p-product-detail .product-reviews__comment {
  margin-top: 2rem;
}
@media (min-width: 768px) {
  .p-product-detail .product-reviews__comment {
    margin-top: 4.8rem;
  }
}
.p-product-detail .product-reviews__comment__top {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 2.2rem;
  font-size: 1.6rem;
}
@media (min-width: 768px) {
  .p-product-detail .product-reviews__comment__top {
    font-size: 1.8rem;
  }
}
.p-product-detail .product-reviews__comment__form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.filter-wrapper .filter-top,
.filter-wrapper .filter-bottom {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  margin-bottom: 1.2rem;
}
.filter-wrapper .filter-top {
  /* Nút bộ lọc đỏ */
}
.filter-wrapper .filter-top .btn-filter {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.6rem 1rem;
  border-radius: 0.8rem;
  border: 1px solid #b20110;
  background: #fff;
  color: #b20110;
  font-weight: 500;
  cursor: pointer;
}
@media (min-width: 768px) {
  .filter-wrapper .filter-top .btn-filter {
    padding: 0.8rem 1.5rem;
  }
}
.filter-wrapper .filter-top .btn-filter .ic-filter {
  display: inline-block;
  background: url(../images/ic-filter.png) no-repeat top center;
  background-size: contain;
  width: 2rem;
  height: 2rem;
}
.filter-wrapper .filter-top {
  /* Nút filter xám */
}
.filter-wrapper .filter-top .btn-item {
  padding: 0.6rem 1rem;
  border-radius: 0.8rem;
  background: #e9e9e9;
  color: #333;
  font-size: 1.4rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  transition: all 0.2s ease;
  font-weight: 500;
  border: 1px solid transparent;
}
@media (min-width: 768px) {
  .filter-wrapper .filter-top .btn-item {
    font-size: 1.5rem;
    padding: 0.8rem 1.5rem;
  }
}
.filter-wrapper .filter-top .btn-item i {
  font-size: 1.3rem;
}
.filter-wrapper .filter-top .btn-item:hover {
  background: #fff;
  border: 1px solid #d80019;
  color: #d80019;
}
.filter-wrapper__ttl {
  font-weight: 600;
  font-size: 1.4rem;
}
@media (min-width: 768px) {
  .filter-wrapper__ttl {
    font-size: 1.6rem;
  }
}
.filter-wrapper {
  /* Brand section */
}
.filter-wrapper .brand-section {
  margin-top: 3rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
@media (min-width: 768px) {
  .filter-wrapper .brand-section {
    align-items: center;
    flex-direction: row;
  }
}
.filter-wrapper .brand-section .brand-list {
  display: flex;
  gap: 0.7rem;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .filter-wrapper .brand-section .brand-list {
    gap: 1.5rem;
  }
}
.filter-wrapper .brand-section .brand-list .brand-item {
  width: 7.5rem;
  height: 4.7rem;
  border: 1px solid #cdcdcd;
  border-radius: 0.7rem;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
  padding: 0.5rem;
}
@media (min-width: 768px) {
  .filter-wrapper .brand-section .brand-list .brand-item {
    width: 10rem;
  }
}
.filter-wrapper .brand-section .brand-list .brand-item:hover {
  border-color: #d80019;
  transform: translateY(-2px);
}
.filter-wrapper .brand-section .brand-list .brand-item .brand-item img {
  max-width: 90%;
  max-height: 70%;
  -o-object-fit: contain;
     object-fit: contain;
}
.filter-wrapper .need-section {
  margin-top: 3rem;
}
.filter-wrapper .need-section .need-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}
@media (min-width: 768px) {
  .filter-wrapper .need-section .need-list {
    grid-template-columns: repeat(6, 1fr);
  }
}
.filter-wrapper .need-section .need-list .need-item {
  text-align: center;
  cursor: pointer;
  transition: all 0.25s ease;
  display: block;
}
.filter-wrapper .need-section .need-list .need-item:hover {
  transform: translateY(-5px);
}
.filter-wrapper .need-section .need-list .need-item img {
  max-height: 5rem;
}
@media (min-width: 768px) {
  .filter-wrapper .need-section .need-list .need-item img {
    max-height: 8rem;
  }
}
.filter-wrapper .need-section .need-list .need-item__ttl {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.5;
  font-style: italic;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .filter-wrapper .need-section .need-list .need-item__ttl {
    font-size: 1.6rem;
  }
}
.filter-wrapper .sort-section {
  margin: 3rem 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 768px) {
  .filter-wrapper .sort-section {
    flex-direction: row;
    align-items: center;
    margin: 5rem 0;
  }
}
.filter-wrapper .sort-section .sort-list {
  display: flex;
  gap: 1.2rem;
}
@media (max-width: 767px) {
  .filter-wrapper .sort-section .sort-list {
    overflow-x: auto;
  }
  .filter-wrapper .sort-section .sort-list::-webkit-scrollbar {
    height: 0;
  }
  .filter-wrapper .sort-section .sort-list {
    /* Nền track */
  }
  .filter-wrapper .sort-section .sort-list::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 0;
  }
}
@media (min-width: 768px) {
  .filter-wrapper .sort-section .sort-list {
    flex-wrap: wrap;
  }
}
.filter-wrapper .sort-section .sort-list .sort-item {
  padding: 0.6rem 1rem;
  border-radius: 2rem;
  border: 1px solid #e0e0e0;
  background: #f5f5f5;
  font-size: 1.4rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font-weight: 500;
  transition: all 0.25s ease;
  flex-shrink: 0;
}
@media (min-width: 768px) {
  .filter-wrapper .sort-section .sort-list .sort-item {
    padding: 0.8rem 1.5rem;
    font-size: 1.5rem;
  }
}
.filter-wrapper .sort-section .sort-list .sort-item:hover, .filter-wrapper .sort-section .sort-list .sort-item.active {
  background: #eaf2ff;
  border-color: #3b82f6;
  color: #3b82f6;
}

.faq-section {
  max-width: 90rem;
  margin: 4rem auto;
}
@media (min-width: 768px) {
  .faq-section {
    margin: 6rem auto;
  }
}
.faq-section .faq-title {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: center;
}
@media (min-width: 768px) {
  .faq-section .faq-title {
    font-size: 2.4rem;
  }
}
.faq-section .faq-item {
  margin-bottom: 1.5rem;
  border-radius: 1rem;
  overflow: hidden;
}
.faq-section .faq-item .faq-question {
  background: #f2f2f2;
  padding: 2rem 2rem;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  .faq-section .faq-item .faq-question {
    font-size: 1.6rem;
  }
}
.faq-section .faq-item .faq-question i {
  transition: 0.3s;
}
.faq-section .faq-item .faq-answer {
  height: 0;
  overflow: hidden;
  background: #fff;
  padding: 0 20px;
  transition: all 0.4s ease;
}
.faq-section .faq-item.active .faq-answer {
  padding: 18px 20px;
  height: auto;
}
.faq-section .faq-item.active i {
  transform: rotate(180deg);
}

.news-section__ttl {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.8rem;
}
@media (min-width: 768px) {
  .news-section__ttl {
    font-size: 2.5rem;
  }
}
.news-section .news-list .slick-arrow {
  width: 4rem;
  height: 4rem;
  opacity: 1;
  background: none;
  border: none;
}
.news-section .news-list .slick-arrow:after {
  position: absolute;
  content: "";
  width: 6rem;
  height: 6rem;
  background: url(../images/ic-right.png) no-repeat top center;
  background-size: contain;
  border: none;
  transform: none;
}
.news-section .news-list .slick-arrow.slick-prev:after {
  transform: rotate(180deg);
}
.news-section .news-list .news-card {
  border: 1px solid #d80019;
  padding: 0.5rem;
  border-radius: 0.3rem;
  margin: 0 1rem;
}
.news-section .news-list .news-card__ttl {
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 1rem 0;
}

.service-section {
  padding: 5rem 0;
}
.service-section .service-list {
  text-align: center;
}
.service-section .service-list .slick-arrow {
  opacity: 1;
}
@media (min-width: 768px) {
  .service-section .service-list {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(5, 1fr);
  }
}
.service-section .service-list .service-item {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.service-section .service-list .service-item__img {
  width: 8rem;
  height: 8rem;
  margin: auto;
  border: 2px solid #111;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
}
@media (min-width: 768px) {
  .service-section .service-list .service-item__img {
    width: 13rem;
    border: 3px solid #111;
    height: 13rem;
  }
}
.service-section .service-list .service-item__img img {
  width: 4rem;
}
@media (min-width: 768px) {
  .service-section .service-list .service-item__img img {
    width: 7rem;
  }
}
.service-section .service-list .service-item__ttl {
  font-size: 1.6rem;
  line-height: 1.5;
  color: #111;
}
.service-section .service-list .service-item__ttl strong {
  font-weight: 700;
}

.about-section {
  overflow: hidden;
  border-radius: 1.2rem;
}
@media (min-width: 768px) {
  .about-section {
    padding: 3rem 0 0;
  }
}
.about-section__ttl {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .about-section__ttl {
    font-size: 2.5rem;
  }
}
.about-section .about-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 4rem;
  background: #f3f3f3;
}
@media (min-width: 768px) {
  .about-section .about-box {
    flex-direction: row;
  }
}
.about-section .about-box .about-content {
  flex: 1;
  padding: 2rem;
}
@media (min-width: 768px) {
  .about-section .about-box .about-content {
    padding: 0 5rem;
  }
}
.about-section .about-box .about-content h3 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: #333;
}
@media (min-width: 768px) {
  .about-section .about-box .about-content h3 {
    font-size: 2.5px;
  }
}
.about-section .about-box .about-content p {
  font-size: 1.6rem;
  line-height: 1.8;
  color: #555;
}
@media (min-width: 768px) {
  .about-section .about-box .about-content p {
    font-size: 1.8rem;
  }
}
.about-section .about-box .about-image {
  text-align: right;
}
@media (min-width: 768px) {
  .about-section .about-box .about-image {
    width: 35%;
  }
}
.about-section .about-box .about-image img {
  max-width: 100%;
  height: auto;
}

.why-section {
  padding: 3rem 0;
}
@media (min-width: 768px) {
  .why-section {
    padding: 5rem 0;
  }
}
.why-section .slick-arrow {
  opacity: 1;
  border: none;
  background: none;
}
.why-section .slick-arrow.slick-prev {
  left: -2rem;
}
.why-section .slick-arrow.slick-next {
  right: -2rem;
}
.why-section .slick-arrow:after {
  width: 2.5rem;
  height: 2.5rem;
}
.why-section .why-item {
  text-align: center;
  margin: 0 1rem;
}
.why-section .why-item__img {
  display: block;
  overflow: hidden;
  border-radius: 1rem;
  border: 1px solid #fab17c;
  height: 24rem;
  position: relative;
}
.why-section .why-item__ttl {
  margin-top: 1rem;
  font-size: 1.6rem;
  padding: 0 2rem;
  line-height: 1.5;
  position: relative;
}
.why-section .why-item__ttl:after {
  width: 100%;
  height: 4rem;
  background-image: linear-gradient(to bottom, transparent, #fff);
  position: absolute;
  bottom: 5rem;
  left: 0;
  content: "";
  z-index: 0;
}
.why-section .why-item__ttl:before {
  width: 100%;
  height: 8rem;
  background-image: linear-gradient(to bottom, transparent, #fff);
  position: absolute;
  bottom: 5rem;
  left: 0;
  content: "";
  z-index: 0;
}

.review-wrap {
  margin: 4rem 0;
  box-shadow: rgba(60, 64, 67, 0.1) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 2px 6px 2px;
  padding: 2rem 3rem 3rem;
  border-radius: 1rem;
}
.review-wrap__ttl {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

/* TOP SECTION */
.review-top {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 1rem;
  gap: 3rem;
  /* LEFT */
}
.review-top .review-average {
  width: 22rem;
  text-align: center;
  padding-left: 4rem;
}
.review-top .review-average .avg-number {
  font-size: 4rem;
  font-weight: 600;
  color: #f7941d;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  line-height: 1;
}
.review-top .review-average .avg-number i {
  font-size: 3rem;
}
.review-top .review-average .avg-text {
  margin-top: 1rem;
  font-weight: 600;
  font-size: 1.4rem;
}
.review-top {
  /* CENTER */
}
.review-top .review-progress {
  flex: 1;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.review-top .review-progress .progress-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.review-top .review-progress .progress-item .star-label {
  width: 3rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.review-top .review-progress .progress-item .star-label i {
  font-size: 1.3rem;
}
.review-top .review-progress .progress-item .progress-bar {
  flex: 1;
  height: 1.4rem;
  background: #eee;
  border-radius: 0.4rem;
  overflow: hidden;
}
.review-top .review-progress .progress-item .progress-bar .progress-fill {
  height: 100%;
  background: #f7941d;
  border-radius: 1rem;
  transition: 0.4s;
}
.review-top .review-progress .progress-item .progress-text {
  width: 13rem;
  font-size: 1.4rem;
  color: #03a0e2;
}
.review-top .review-action {
  width: 20rem;
  text-align: center;
}
.review-top .review-action .btn-review {
  background: #03a0e2;
  color: #fff;
  padding: 1.2rem 2rem;
  border: none;
  border-radius: 0.6rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}
.review-top .review-action .btn-review:hover {
  background: #1678a6;
}

/* FILTER */
.review-filter {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  background: #f5f5f5;
  border-radius: 0.5rem;
  padding: 1.5rem;
}
.review-filter .filter-btn {
  padding: 0.5rem 1.2rem;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  transition: all 0.3s;
}
.review-filter .filter-btn i {
  font-size: 1.1rem;
}
.review-filter .filter-btn:hover {
  background: #f0f0f0;
  border-color: #999;
  color: #d80019;
}
.review-filter .filter-btn.active {
  background: #03a0e2;
  color: #FFF;
}

.review-list {
  margin-top: 2rem;
}
.review-list .review-item {
  margin-bottom: 2rem;
}
.review-list .review-item .review-head {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.5rem;
  font-weight: 600;
}
.review-list .review-item .review-head__ttl {
  font-weight: 600;
  font-size: 1.6rem;
}
.review-list .review-item .review-head .verified {
  color: #2fb344;
  font-style: italic;
  font-weight: 500;
}
.review-list .review-item .review-content {
  background: #eee;
  border-radius: 1rem;
  padding: 1.4rem;
  margin-top: 10px;
}
.review-list .review-item .review-content .review-stars {
  font-size: 1.5rem;
}
.review-list .review-item .review-content .review-stars .star-rating {
  font-size: 1.2rem;
  gap: 0.2rem;
  display: inline-flex;
  color: #f7941d;
  margin-right: 1rem;
}
.review-list .review-item .review-content .review-date {
  margin-top: 1rem;
  font-size: 1.4rem;
  color: #888;
}

.pagination {
  margin-top: 2rem;
  display: flex;
  gap: 0.5rem;
}
.pagination .page-btn {
  min-width: 3.5rem;
  height: 3.5rem;
  border: none;
  background: #e9e9e9;
  border-radius: 0.6rem;
  cursor: pointer;
  font-size: 1.4rem;
  transition: 0.3s;
}
.pagination .page-btn:hover {
  background: #dcdcdc;
}
.pagination .page-btn.active {
  background: #ccc;
  font-weight: 500;
}
.pagination .page-btn.next {
  font-size: 1.6rem;
}

.qa-section {
  margin-top: 4rem;
  border-top: 1px solid #ddd;
  padding-top: 2rem;
}
.qa-section__ttl {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
  font-weight: 600;
}
.qa-section .qa-box {
  border: 1px solid #ddd;
  background: #fff;
}
.qa-section .qa-box textarea {
  width: 100%;
  height: 15rem;
  border: none;
  border-bottom: 1px solid #ddd;
  padding: 1rem;
  font-size: 1.4rem;
  resize: vertical;
  outline: none;
}
.qa-section .qa-box .qa-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  gap: 1.5rem;
}
.qa-section .qa-box .qa-bottom .qa-left {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  flex: 1;
  justify-content: flex-end;
}
.qa-section .qa-box .qa-bottom .qa-left .radio {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  font-weight: 600;
}
.qa-section .qa-box .qa-bottom .qa-left .radio input {
  accent-color: #1e90c9;
}
.qa-section .qa-box .qa-bottom .qa-left .input-text {
  height: 4rem;
  padding: 0 1rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  width: 35%;
}
.qa-section .qa-box .qa-bottom .qa-left .input-text:focus {
  border-color: #1e90c9;
  outline: none;
}
.qa-section .qa-box .qa-bottom .btn-send {
  background: #f4c430;
  border: none;
  padding: 1rem;
  font-weight: 500;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s;
  color: #333;
}
.qa-section .qa-box .qa-bottom .btn-send:hover {
  background: #e0b21f;
}
.qa-section .note {
  margin-top: 2rem;
}/*# sourceMappingURL=product.css.map */